# Filter public/charter school data into team-specific data sets

Author(s): Jaren Haber<br>
Project Manager: Jaren Haber, PhD Candidate <br>
Contact: jhaber@berkeley.edu

Institution: University of California, Berkeley <br>
Program: Undergraduate Research Apprentice Program (URAP) <br>

Date created: Nov. 27, 2018<br>
Last modified: Jan. 20, 2019

Description: Loads most recent charter data, filters to key variables, converts the DF for efficiency, reorders & renames variables, and saves data specifically for statistics and geospatial teams.

## Initialize

### Import packages & functions

In [31]:
import pandas as pd # For working with DataFrames
import ast # For working with strings
import numpy as np # For numerical things
import re # For cleaning webtext

# For loading functions from files in data_tools directory:
import sys; sys.path.insert(0, "../../data_management/tools/")

In [32]:
# For displaying basic DF info, storing DFs for memory efficiency, and loading a filtered DF:
from df_tools import check_df, convert_df, load_filtered_df, replace_df_nulls

# For quickly loading & saving pickle files in Python:
from quickpickle import quickpickle_dump, quickpickle_load 

# For saving and loading text lists to/from file:
from textlist_file import write_list, load_list 

# For calculating densities, years opened and closed, and school closure rates:
from df_calc import count_pdfs, density_calc, openclose_calc, closerate_calc

### Define file paths

In [33]:
# Input files:
charters_path = "../../nowdata/charters_2015.pkl" # was "../../nowdata/backups/charters_full_2015_250_v2a.pkl"
pubschools_path = "../../nowdata/pubschools_2015.pkl" # was "../../nowdata/backups/pubschools_full_2015_CRDC.pkl"
statscleaned_path = "../../nowdata/backups/charters_stats_2015_v2a_edited.csv"
edfacts_folder = "../../nowdata/edfacts/"
textclean_full = "../../nowdata/webtext/full_text_slow.csv"
textclean_filtered = "../../nowdata/webtext/limited_pages_text.csv"

charters_small_loc = "../../nowdata/backups/charters_parsed_03-04_no-text_SMALL.csv"
ACSsmall_loc = "../../nowdata/backups/ACS_2016_sd-merged_SMALL.csv"
ACSfull_loc = "../../nowdata/backups/ACS_2016_sd-merged_FULL.csv"
SAIPE_loc = "../../nowdata/backups/SAIPE_2016_sd.txt"

In [34]:
# Output files:
geo_storepath = "../../nowdata/backups/charters_geo_2015_v2a.csv"
geoteam_path = "../../geospatial/data/charters_geo_2015_v2a.csv"

stats_storepath = "../../nowdata/backups/charters_stats_2015_v2a.csv"
stats_text_storepath = "../../nowdata/backups/charters_statstext_2015_v2a.pkl"

textclean_full_storepath = "../../nowdata/charters_textfull_2015.csv"
textclean_filtered_storepath = "../../nowdata/charters_textfiltered_2015.csv"

swarm_full_storepath = "../../swarm/data/charters_cleaned_allpages.csv"
swarm_filtered_storepath = "../../swarm/data/charters_cleaned_filtered.csv"

## Load & filter data

In [35]:
# ACS (school district) data
acs = pd.read_csv(ACSfull_loc, header = [0, 1], encoding="latin1", low_memory=False) # School district social data (ACS, 2012-16)
print(acs.shape)
list(acs)

(13406, 126)

[('FIPS', 'Geo_FIPS'),
 ('Name of Area', 'Geo_NAME'),
 ('Qualifying Name', 'Geo_QName'),
 ('State/U.S.-Abbreviation (USPS)', 'Geo_STUSAB'),
 ('Summary Level', 'Geo_SUMLEV'),
 ('File Identification', 'Geo_FILEID'),
 ('Logical Record Number', 'Geo_LOGRECNO'),
 ('State (FIPS)', 'Geo_STATE'),
 ('School District (Elementary)', 'Geo_SDELM'),
 ('School District (Secondary)', 'Geo_SDSEC'),
 ('School District (Unified)', 'Geo_SDUNI'),
 ('Geographic Identifier', 'Geo_GEOID'),
 ('Area (Land)', 'Geo_AREALAND'),
 ('Area (Water)', 'Geo_AREAWATR'),
 ('Total Population', 'SE_T002_001'),
 ('Population Density (Per Sq. Mile)', 'SE_T002_002'),
 ('Area (Land)', 'SE_T002_003'),
 ('% Total Population: Under 18 Years', 'PCT_SE_T009_002'),
 ('% Total Population: 18 to 34 Years', 'PCT_SE_T009_003'),
 ('% Total Population: 35 to 64 Years', 'PCT_SE_T009_004'),
 ('% Total Population: 65 and Over', 'PCT_SE_T009_005'),
 ('% Total Population: White Alone', 'PCT_SE_T013_002'),
 ('% Total Population: Black or African American Alone', 'PCT_SE_T013_003'),
 ('% Total Population: American Indian and Alaska Native Alone',
  'PCT_SE_T013_004'),
 ('% Total Population: Asian Alone', 'PCT_SE_T013_005'),
 ('% Total Population: Native Hawaiian and Other Pacific Islander Alone',
  'PCT_SE_T013_006'),
 ('% Total Population: Some Other Race Alone', 'PCT_SE_T013_007'),
 ('% Total Population: Two or More Races', 'PCT_SE_T013_008'),
 ('Occupied Housing Units', 'SE_T165_001'),
 ('% Occupied Housing Units: Family Households', 'PCT_SE_T165_002'),
 ('% Occupied Housing Units: Family Households: Married-Couple Family',
  'PCT_SE_T165_003'),
 ('% Occupied Housing Units: Nonfamily Households', 'PCT_SE_T165_016'),
 ('% Occupied Housing Units: Nonfamily Households: Householder Living Alone',
  'PCT_SE_T165_017'),
 ('% Occupied Housing Units: With Related Children of the Householder Under 18',
  'PCT_SE_T167_002'),
 ('% Occupied Housing Units: No Related Children of the Householder Under 18',
  'PCT_SE_T167_008'),
 ('Population 15 Years and Over:', 'SE_T022_001'),
 ('% Population 15 Years and Over: Never Married', 'PCT_SE_T022_002'),
 ('% Population 15 Years and Over: Now Married (Not Including Separated)',
  'PCT_SE_T022_003'),
 ('% Population 15 Years and Over: Separated', 'PCT_SE_T022_004'),
 ('% Population 15 Years and Over: Widowed', 'PCT_SE_T022_005'),
 ('% Population 15 Years and Over: Divorced', 'PCT_SE_T022_006'),
 ('Population 25 Years and Over:', 'SE_T025_001'),
 ('% Population 25 Years and Over: Less than High School', 'PCT_SE_T025_002'),
 ('% Population 25 Years and Over: High School Graduate (Includes Equivalency)',
  'PCT_SE_T025_003'),
 ('% Population 25 Years and Over: Some College', 'PCT_SE_T025_004'),
 ("% Population 25 Years and Over: Bachelor's Degree", 'PCT_SE_T025_005'),
 ("% Population 25 Years and Over: Master's Degree", 'PCT_SE_T025_006'),
 ('% Population 25 Years and Over: Professional School Degree',
  'PCT_SE_T025_007'),
 ('% Population 25 Years and Over: Doctorate Degree', 'PCT_SE_T025_008'),
 ('Population 3 Years and Over:', 'SE_T028_001'),
 ('% Population 3 Years and Over: Enrolled in School', 'PCT_SE_T028_002'),
 ('% Population 3 Years and Over: Not Enrolled in School', 'PCT_SE_T028_003'),
 ('% Population 3 Years and Over Enrolled in School: Public School',
  'PCT_SE_T029_002'),
 ('% Population 3 Years and Over Enrolled in School: Public School: Pre-School',
  'PCT_SE_T029_003'),
 ('% Population 3 Years and Over Enrolled in School: Public School: K-8',
  'PCT_SE_T029_004'),
 ('% Population 3 Years and Over Enrolled in School: Public School: 9-12',
  'PCT_SE_T029_005'),
 ('% Population 3 Years and Over Enrolled in School: Public School: College',
  'PCT_SE_T029_006'),
 ('% Population 3 Years and Over Enrolled in School: Private School',
  'PCT_SE_T029_007'),
 ('% Population 3 Years and Over Enrolled in School: Private School: Pre-School',
  'PCT_SE_T029_008'),
 ('% Population 3 Years and Over Enrolled in School: Private School: K-8',
  'PCT_SE_T029_009'),
 ('% Population 3 Years and Over Enrolled in School: Private School: 9-12',
  'PCT_SE_T029_010'),
 ('% Population 3 Years and Over Enrolled in School: Private School: College',
  'PCT_SE_T029_011'),
 ('Civilian Population 16 to 19 Years:', 'SE_T030_001'),
 ('% Civilian Population 16 to 19 Years: Not High School Graduate, Not Enrolled (Dropped Out)',
  'PCT_SE_T030_002'),
 ('% Civilian Population 16 to 19 Years: High School Graduate, or Enrolled (in School)',
  'PCT_SE_T030_003'),
 ('% Civilian Population in Labor Force 16 Years and Over: Employed',
  'PCT_SE_T037_002'),
 ('% Civilian Population in Labor Force 16 Years and Over: Unemployed',
  'PCT_SE_T037_003'),
 ('% White Alone, Not Hispanic or Latino 16 Years Old  in&nbsp; Civilian Labor Force: Employed',
  'PCT_SE_T048_002'),
 ('% White Alone, Not Hispanic or Latino 16 Years Old  in&nbsp; Civilian Labor Force: Unemployed',
  'PCT_SE_T048_003'),
 ('% Employed Civilian Population 16 Years and Over: Agriculture, Forestry, Fishing and Hunting, and Mining',
  'PCT_SE_T049_002'),
 ('% Employed Civilian Population 16 Years and Over: Construction',
  'PCT_SE_T049_003'),
 ('% Employed Civilian Population 16 Years and Over: Manufacturing',
  'PCT_SE_T049_004'),
 ('% Employed Civilian Population 16 Years and Over: Wholesale Trade',
  'PCT_SE_T049_005'),
 ('% Employed Civilian Population 16 Years and Over: Retail Trade',
  'PCT_SE_T049_006'),
 ('% Employed Civilian Population 16 Years and Over: Transportation and Warehousing, and Utilities',
  'PCT_SE_T049_007'),
 ('% Employed Civilian Population 16 Years and Over: Information',
  'PCT_SE_T049_008'),
 ('% Employed Civilian Population 16 Years and Over: Finance and Insurance, and Real Estate and Rental  and Leasing',
  'PCT_SE_T049_009'),
 ('% Employed Civilian Population 16 Years and Over: Professional, Scientific, and Management, and  Administrative and Waste Management Services',
  'PCT_SE_T049_010'),
 ('% Employed Civilian Population 16 Years and Over: Educational Services, and Health Care and Social  Assistance',
  'PCT_SE_T049_011'),
 ('% Employed Civilian Population 16 Years and Over: Arts, Entertainment, and Recreation, and  Accommodation and Food Services',
  'PCT_SE_T049_012'),
 ('% Employed Civilian Population 16 Years and Over: Other Services, Except Public Administration',
  'PCT_SE_T049_013'),
 ('% Employed Civilian Population 16 Years and Over: Public Administration',
  'PCT_SE_T049_014'),
 ('% Employed Civilian Population 16 Years and Over: Unpaid Family Workers',
  'PCT_SE_T053_006'),
 ('Median Household Income (In 2016 Inflation Adjusted Dollars)',
  'SE_T057_001'),
 ('Median Household Income (In 2016 Inflation Adjusted Dollars): White Alone Householder',
  'SE_T058_002'),
 ('Median Household Income (In 2016 Inflation Adjusted Dollars): Black or African American Alone Householder',
  'SE_T058_003'),
 ('Median Household Income (In 2016 Inflation Adjusted Dollars): American Indian and Alaska Native Alone  Householder',
  'SE_T058_004'),
 ('Median Household Income (In 2016 Inflation Adjusted Dollars): Asian Alone',
  'SE_T058_005'),
 ('Median Household Income (In 2016 Inflation Adjusted Dollars): Native Hawaiian and Other Pacific Islander Alone  Householder',
  'SE_T058_006'),
 ('Median Household Income (In 2016 Inflation Adjusted Dollars): Some Other Race Alone Householder',
  'SE_T058_007'),
 ('Median Household Income (In 2016 Inflation Adjusted Dollars): Two or More Races Householder',
  'SE_T058_008'),
 ('Median Household Income (In 2016 Inflation Adjusted Dollars): Hispanic or Latino Householder',
  'SE_T058_009'),
 ('Median Household Income (In 2016 Inflation Adjusted Dollars): White Alone Householder, Not Hispanic or Latino',
  'SE_T058_010'),
 ('Per Capita Income (In 2016 Inflation Adjusted Dollars)', 'SE_T083_001'),
 ('Gini Index', 'SE_T157_001'),
 ('Median Year Structure Built', 'SE_T098_001'),
 ('Median Value', 'SE_T101_001'),
 ('% Renter-Occupied Housing Units: Less than 10 Percent', 'PCT_SE_T103_002'),
 ('% Renter-Occupied Housing Units: 10 to 29 Percent', 'PCT_SE_T103_003'),
 ('% Renter-Occupied Housing Units: 30 to 49 Percent', 'PCT_SE_T103_004'),
 ('% Renter-Occupied Housing Units: 50 Percent or More', 'PCT_SE_T103_005'),
 ('% Renter-Occupied Housing Units: Not Computed', 'PCT_SE_T103_006'),
 ('% Families: Income in Below Poverty Level', 'PCT_SE_T113_002'),
 ('% Families: Income in at or Above Poverty Level', 'PCT_SE_T113_011'),
 ('Population Under 18 Years of Age for Whom Poverty Status Is Determined:',
  'SE_T114_001'),
 ('% Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty',
  'PCT_SE_T114_002'),
 ('% Population Under 18 Years of Age for Whom Poverty Status Is Determined: at or Above Poverty Level',
  'PCT_SE_T114_003'),
 ('% Total: Same House 1 Year Ago', 'PCT_SE_T130_002'),
 ('% Total: Moved Within Same County', 'PCT_SE_T130_003'),
 ('% Total: Moved From Different County Within Same State', 'PCT_SE_T130_004'),
 ('% Total: Moved From Different State', 'PCT_SE_T130_005'),
 ('% Total: Moved From Abroad', 'PCT_SE_T130_006'),
 ('% Total Population: Native Born', 'PCT_SE_T133_002'),
 ('% Total Population: Foreign Born', 'PCT_SE_T133_003'),
 ('% Total Population: Foreign Born: Naturalized Citizen', 'PCT_SE_T133_004'),
 ('% Total Population: Foreign Born: Not a Citizen', 'PCT_SE_T133_005'),
 ('% Foreign-Born Population: Europe', 'PCT_SE_T139_002'),
 ('% Foreign-Born Population: Asia', 'PCT_SE_T139_034'),
 ('% Foreign-Born Population: Africa', 'PCT_SE_T139_067'),
 ('% Foreign-Born Population: Oceania', 'PCT_SE_T139_085'),
 ('% Foreign-Born Population: Americas', 'PCT_SE_T139_090'),
 ('Total:', 'SE_T145_001'),
 ('% Total: No Health Insurance Coverage', 'PCT_SE_T145_002'),
 ('% Total: with Health Insurance Coverage', 'PCT_SE_T145_003'),
 ('% Total: with Health Insurance Coverage: Public Health Coverage',
  'PCT_SE_T145_004'),
 ('% Total: with Health Insurance Coverage: Private Health Insurance',
  'PCT_SE_T145_005')]

In [36]:
# Small charters data set (previously used for geospatial)
charters_smalldf = load_filtered_df(charters_small_loc, [])

# rows and cols:  (6972, 32)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
STATENAME
LEAID
LEA_NAME
NCESSCH
SCH_NAME
TOTFRL: 218 missing
AM: 218 missing
AS: 218 missing
BL: 218 missing
HI: 218 missing
HP: 218 missing
MEMBER: 218 missing
TR: 218 missing
TITLEI: 624 missing
FTE: 218 missing
YEAR_OPENED: 70 missing
YEAR_CLOSED: 6484 missing
LATCODE: 114 missing
LONGCODE: 114 missing
LOCALE: 114 missing
ALL_MTH00PCTPROF_1415: 688 missing
ALL_RLA00PCTPROF_1415: 688 missing
ADDRESS14
ess_count: 1596 missing
prog_count: 1596 missing
rit_count: 1596 missing
ess_strength: 2016 missing
prog_strength: 2014 missing
AGE: 70 missing
PCTETH: 259 missing
PLACE: 114 missing
TOTETH: 218 missing

In [37]:
# Load full public school data set - just the cols needed to count density
pubdf_small = load_filtered_df(pubschools_path, ["NCESSCH", "GEO_LEAID", "LEAID", "TRUE_CHARTER", "SY_STATUS15", "YEAR_OPENED", "YEAR_CLOSED"])

# rows and cols:  (136825, 7)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
NCESSCH
GEO_LEAID: 34502 missing
LEAID: 36593 missing
TRUE_CHARTER
SY_STATUS15: 34699 missing
YEAR_OPENED: 2789 missing
YEAR_CLOSED: 105477 missing

In [38]:
# Add to pub schools LEA_NAME from original data
pubadd = pd.read_csv("../../nowdata/ccd_csvs/ccd_sch_029_1516_w_2a_011717.csv", usecols=["NCESSCH", "LEA_NAME"], encoding = "latin1", low_memory=False)
pubdf_small = pd.merge(pubdf_small, pubadd, how="left", on="NCESSCH")
check_df(pubdf_small, "NCESSCH")

# rows and cols:  (136825, 8)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
NCESSCH
GEO_LEAID: 34502 missing
LEAID: 36593 missing
TRUE_CHARTER
SY_STATUS15: 34699 missing
YEAR_OPENED: 2789 missing
YEAR_CLOSED: 105477 missing
LEA_NAME: 34424 missing

In [39]:
# Define variables to keep from full charter data set
keepvars = ['WEBTEXT', 'LEVEL', 'MEMBER', 'SE_T002_002', 'TOTETH', 'TOTFRL', 'PCT_SE_T113_002', 
            'WH', 'AM', 'AS', 'BL', 'HI', 'HP', 'TR', 
            'ESS_VALID_RATIO', 'PROG_VALID_RATIO', 'INQUIRY_RATIO', 'DISCIPLINE_RATIO', 'TITLEI', 'FTE', 
            'INQUIRY_COUNT', 'DISCIPLINE_COUNT', 'NUMWORDS', 'LSTATE', 'CMO_NAME', 'NUMPAGES', 
            'NCESSCH', 'SY_STATUS15', 'SCHNAM15', 'LAT1516', 'LON1516', 'ADDRESS16', 'LEAID', 'GEO_LEAID']

statusyears_list = ['STATUS98', 'STATUS99', 'STATUS00', 'STATUS01', 'STATUS02', 'STATUS03', 
                    'STATUS04', 'STATUS05', 'STATUS06', 'STATUS07', 'STATUS08', 'STATUS09', 
                    'STATUS10', 'STATUS11', 'STATUS12', 'STATUS13', 'SY_STATUS', 'SY_STATUS15', 'SY_STATUS16']

expul_cols = ['TOT_DISCWODIS_EXPWE_M', 'TOT_DISCWODIS_EXPWE_F', 'TOT_DISCWODIS_EXPWOE_M', 
              'TOT_DISCWODIS_EXPWOE_F', 'TOT_DISCWDIS_EXPWE_IDEA_M', 'TOT_DISCWDIS_EXPWE_IDEA_F', 
              'TOT_DISCWDIS_EXPWOE_IDEA_M', 'TOT_DISCWDIS_EXPWOE_IDEA_F']

crime_cols = ['TOT_DISCWODIS_REF_M', 'TOT_DISCWODIS_REF_F', 'TOT_DISCWDIS_REF_IDEA_M', 'TOT_DISCWDIS_REF_IDEA_F', 
              'SCH_OFFENSE_RAPE', 'SCH_OFFENSE_BATT', 'SCH_OFFENSE_ROBWW', 'SCH_OFFENSE_ROBWX', 'SCH_OFFENSE_ROBWOW', 
              'SCH_OFFENSE_ATTWW', 'SCH_OFFENSE_ATTWX', 'SCH_OFFENSE_ATTWOW', 'SCH_OFFENSE_THRWW', 'SCH_OFFENSE_THRWX', 
              'SCH_OFFENSE_THRWOW', 'SCH_OFFENSE_POSSWX']

retention_cols = ['TOT_RET_KG_M', 'TOT_RET_KG_F', 'TOT_RET_G01_M', 'TOT_RET_G01_F', 'TOT_RET_G02_M', 'TOT_RET_G02_F', 
                  'TOT_RET_G03_M', 'TOT_RET_G03_F', 'TOT_RET_G04_M', 'TOT_RET_G04_F', 'TOT_RET_G05_M', 'TOT_RET_G05_F', 
                  'TOT_RET_G06_M', 'TOT_RET_G06_F', 'TOT_RET_G07_M', 'TOT_RET_G07_F', 'TOT_RET_G08_M', 'TOT_RET_G08_F', 
                  'TOT_RET_G09_M', 'TOT_RET_G09_F', 'TOT_RET_G10_M', 'TOT_RET_G10_F', 'TOT_RET_G11_M', 'TOT_RET_G11_F', 
                  'TOT_RET_G12_M', 'TOT_RET_G12_F']

other_cols = ['TOT_LEPENR_M', 'TOT_LEPENR_F', 'TOT_IDEAENR_M', 'TOT_IDEAENR_F', 'TOT_504ENR_M', 
              'TOT_504ENR_F', 'TOT_GTENR_M', 'TOT_GTENR_F', 'TOT_APENR_M', 'TOT_APENR_F', 'SCH_APENR_IND', 
              'SCH_APCOURSES', 'SCH_IBENR_IND', 'SCH_OOSINSTANCES_WODIS', 'SCH_OOSINSTANCES_IDEA', 
              'SCH_OOSINSTANCES_504', 'SCH_FTETEACH_CERT', 'SCH_FTETEACH_TOT']

# Add together all lists of columns of interest from CRDC:
CRDC_cols = expul_cols + crime_cols + retention_cols + other_cols

In [40]:
# Load and filter charter data set
charterdf = load_filtered_df(charters_path, keepvars+CRDC_cols+statusyears_list)

# rows and cols:  (10965, 120)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
LEVEL: 3577 missing
MEMBER: 4034 missing
SE_T002_002: 7951 missing
TOTETH: 4034 missing
TOTFRL: 4034 missing
PCT_SE_T113_002: 7892 missing
WH: 4034 missing
AM: 4034 missing
AS: 4034 missing
BL: 4034 missing
HI: 4034 missing
HP: 4034 missing
TR: 4034 missing
ESS_VALID_RATIO: 4103 missing
PROG_VALID_RATIO: 4103 missing
INQUIRY_RATIO: 4103 missing
DISCIPLINE_RATIO: 4103 missing
TITLEI: 4597 missing
FTE: 4192 missing
INQUIRY_COUNT
DISCIPLINE_COUNT
NUMWORDS
LSTATE: 3577 missing
CMO_NAME: 8421 missing
NUMPAGES
NCESSCH
SY_STATUS15: 3619 missing
SCHNAM15: 3619 missing
LAT1516: 3613 missing
LON1516: 3613 missing
ADDRESS16: 3532 missing
LEAID: 4016 missing
GEO_LEAID: 3612 missing
TOT_DISCWODIS_EXPWE_M: 5368 missing
TOT_DISCWODIS_EXPWE_F: 5368 missing
TOT_DISCWODIS_EXPWOE_M: 5368 missing
TOT_DISCWODIS_EXPWOE_F: 5368 missing
TOT_DISCWDIS_EXPWE_IDEA_M: 5368 missing
TOT_DISCWDIS_EXPWE_IDEA_F: 5368 missing
TOT_DISCWDIS_EXPWOE_IDEA_M: 5368 missing
TOT_DISCWDIS_EXPWOE_IDEA_F: 5368 missing
TOT_DISCWODIS_REF_M: 5368 missing
TOT_DISCWODIS_REF_F: 5368 missing
TOT_DISCWDIS_REF_IDEA_M: 5368 missing
TOT_DISCWDIS_REF_IDEA_F: 5368 missing
SCH_OFFENSE_RAPE: 5368 missing
SCH_OFFENSE_BATT: 5368 missing
SCH_OFFENSE_ROBWW: 5368 missing
SCH_OFFENSE_ROBWX: 5368 missing
SCH_OFFENSE_ROBWOW: 5368 missing
SCH_OFFENSE_ATTWW: 5368 missing
SCH_OFFENSE_ATTWX: 5368 missing
SCH_OFFENSE_ATTWOW: 5368 missing
SCH_OFFENSE_THRWW: 5368 missing
SCH_OFFENSE_THRWX: 5368 missing
SCH_OFFENSE_THRWOW: 5368 missing
SCH_OFFENSE_POSSWX: 5368 missing
TOT_RET_KG_M: 5368 missing
TOT_RET_KG_F: 5368 missing
TOT_RET_G01_M: 5368 missing
TOT_RET_G01_F: 5368 missing
TOT_RET_G02_M: 5368 missing
TOT_RET_G02_F: 5368 missing
TOT_RET_G03_M: 5368 missing
TOT_RET_G03_F: 5368 missing
TOT_RET_G04_M: 5368 missing
TOT_RET_G04_F: 5368 missing
TOT_RET_G05_M: 5368 missing
TOT_RET_G05_F: 5368 missing
TOT_RET_G06_M: 5368 missing
TOT_RET_G06_F: 5368 missing
TOT_RET_G07_M: 5368 missing
TOT_RET_G07_F: 5368 missing
TOT_RET_G08_M: 5368 missing
TOT_RET_G08_F: 5368 missing
TOT_RET_G09_M: 5368 missing
TOT_RET_G09_F: 5368 missing
TOT_RET_G10_M: 5368 missing
TOT_RET_G10_F: 5368 missing
TOT_RET_G11_M: 5368 missing
TOT_RET_G11_F: 5368 missing
TOT_RET_G12_M: 5368 missing
TOT_RET_G12_F: 5368 missing
TOT_LEPENR_M: 5368 missing
TOT_LEPENR_F: 5368 missing
TOT_IDEAENR_M: 5368 missing
TOT_IDEAENR_F: 5368 missing
TOT_504ENR_M: 5368 missing
TOT_504ENR_F: 5368 missing
TOT_GTENR_M: 5368 missing
TOT_GTENR_F: 5368 missing
TOT_APENR_M: 5368 missing
TOT_APENR_F: 5368 missing
SCH_APENR_IND: 5368 missing
SCH_APCOURSES: 5368 missing
SCH_IBENR_IND: 5368 missing
SCH_OOSINSTANCES_WODIS: 5368 missing
SCH_OOSINSTANCES_IDEA: 5368 missing
SCH_OOSINSTANCES_504: 5368 missing
SCH_FTETEACH_CERT: 5368 missing
SCH_FTETEACH_TOT: 5368 missing
STATUS98: 9600 missing
STATUS99: 9048 missing
STATUS00: 8570 missing
STATUS01: 8186 missing
STATUS02: 7749 missing
STATUS03: 7355 missing
STATUS04: 6781 missing
STATUS05: 6393 missing
STATUS06: 6178 missing
STATUS07: 6019 missing
STATUS08: 5652 missing
STATUS09: 5396 missing
STATUS10: 5017 missing
STATUS11: 4632 missing
STATUS12: 4332 missing
STATUS13: 3991 missing
SY_STATUS: 3577 missing
SY_STATUS16: 3532 missing
WEBTEXT

In [41]:
# Add to charter data LEA_NAME and LOCALE15 from original data
lea_add = pd.read_csv("../../nowdata/ccd_csvs/ccd_sch_029_1516_w_2a_011717.csv", usecols=["NCESSCH", "LEA_NAME"], encoding = "latin1", low_memory=False)
locale_add = pd.read_excel("../../nowdata/ccd_csvs/EDGE_GEOCODE_PUBLICSCH_1516/EDGE_GEOCODE_PUBLICSCH_1516.xlsx", encoding = "latin1")
locale_add = locale_add[["NCESSCH", "LOCALE15"]] # Filter manually

charterdf = pd.merge(charterdf, lea_add, how="left", on="NCESSCH")
charterdf = pd.merge(charterdf, locale_add, how="left", on="NCESSCH")

In [42]:
# Add to charter data edfacts academic performance for 2013-14, 2014-15, and 2016-17
edfacts_math13 = pd.read_csv(edfacts_folder + "math-achievement-sch-sy2013-14.csv", low_memory=False, \
                            usecols = ['NCESSCH', 'ALL_MTH00PCTPROF_1314'])
edfacts_rla13 = pd.read_csv(edfacts_folder + "rla-achievement-sch-sy2013-14.csv", low_memory=False, \
                            usecols = ['NCESSCH', 'ALL_RLA00PCTPROF_1314'])
edfacts_math14 = pd.read_csv(edfacts_folder + "math-achievement-sch-sy2014-15.csv", low_memory=False, \
                            usecols = ['NCESSCH', 'ALL_MTH00PCTPROF_1415'])
edfacts_rla14 = pd.read_csv(edfacts_folder + "rla-achievement-sch-sy2014-15.csv", low_memory=False, \
                            usecols = ['NCESSCH', 'ALL_RLA00PCTPROF_1415'])
edfacts_math15 = pd.read_csv(edfacts_folder + "math-achievement-sch-sy2015-16.csv", low_memory=False, \
                            usecols = ['NCESSCH', 'ALL_MTH00PCTPROF_1516'])
edfacts_rla15 = pd.read_csv(edfacts_folder + "rla-achievement-sch-sy2015-16.csv", low_memory=False, \
                            usecols = ['NCESSCH', 'ALL_RLA00PCTPROF_1516'])
edfacts_math16 = pd.read_csv(edfacts_folder + "math-achievement-sch-sy2016-17.csv", low_memory=False, \
                            usecols = ['NCESSCH', 'ALL_MTH00PCTPROF_1617'])
edfacts_rla16 = pd.read_csv(edfacts_folder + "rla-achievement-sch-sy2016-17.csv", low_memory=False, \
                            usecols = ['NCESSCH', 'ALL_RLA00PCTPROF_1617'])

scores_dflist = [edfacts_math13, edfacts_rla13, edfacts_math14, edfacts_rla14, \
                  edfacts_math15, edfacts_rla15, edfacts_math16, edfacts_rla16]

for df in scores_dflist:
    charterdf = pd.merge(charterdf, df, how="left", on="NCESSCH")

In [43]:
# Add to charter schools child poverty estimates from original SAIPE 2016 data
saipe_add = pd.read_fwf(SAIPE_loc, names=["FIPST", "DISTID", "LEANAME", "POPTOT_S16", "POP517_S16", "CHILDPOVNUM_S16", "FILE_DATE"], 
                        colspecs = [(0,2), (3,8), (9,81), (82,90), (91,99), (100,108), (109,130)], 
                        dtype={"FIPST":str, "DISTID":str, "LEANAME":str, "POPTOT_S16":"uint32", "POP517_S16":"uint32", "CHILDPOV_S16":"uint32", "FILE_DATE":str}) # Load data

# To simplify merging process, create same id variable with same dtype for SAIPE as for charter data
mergevar = "GEO_LEAID"
saipe_add[mergevar] = (saipe_add["FIPST"] + saipe_add["DISTID"]).astype(float)
saipe_add["CHILDPOV_S16"] = saipe_add["CHILDPOVNUM_S16"]/saipe_add["POP517_S16"] # Divide # children (age 5-17) in poverty by total # children
saipe_add = saipe_add[[mergevar, "CHILDPOV_S16"]] # Reduce to key vars

charterdf = pd.merge(charterdf, saipe_add, how="left", on="GEO_LEAID") # Merge DFs

In [44]:
# Recode missing data: negative -1 thru -9 and "M" & "N" as null (np.NaN)
null_chars = [-1, -2, -3, -4, -5, -6, -7, -8, -9, 
              "-1", "-2", "-3", "-4", "-5", "-6", "-7", "-8", "-9", 
              "M", "N", "NA", "NAN", "NaN", "m", "n", "na"]

charterdf = replace_df_nulls(charterdf, null_chars)

LEVEL: 457 nulls found, now 4034 (0.3678978568171455%) nulls total.
MEMBER: 19 nulls found, now 4053 (0.36963064295485637%) nulls total.
SE_T002_002: 0 nulls found, now 7951 (0.7251253989968081%) nulls total.
TOTETH: 11 nulls found, now 4045 (0.3689010487916097%) nulls total.
TOTFRL: 541 nulls found, now 4575 (0.4172366621067031%) nulls total.
PCT_SE_T113_002: 0 nulls found, now 7892 (0.7197446420428637%) nulls total.
WH: 18 nulls found, now 4052 (0.3695394436844505%) nulls total.
AM: 18 nulls found, now 4052 (0.3695394436844505%) nulls total.
AS: 18 nulls found, now 4052 (0.3695394436844505%) nulls total.
BL: 18 nulls found, now 4052 (0.3695394436844505%) nulls total.
HI: 18 nulls found, now 4052 (0.3695394436844505%) nulls total.
HP: 274 nulls found, now 4308 (0.39288645690834473%) nulls total.
TR: 18 nulls found, now 4052 (0.3695394436844505%) nulls total.
ESS_VALID_RATIO: 0 nulls found, now 4103 (0.3741906064751482%) nulls total.
PROG_VALID_RATIO: 0 nulls found, now 4103 (0.3741906064751482%) nulls total.
INQUIRY_RATIO: 0 nulls found, now 4103 (0.3741906064751482%) nulls total.
DISCIPLINE_RATIO: 0 nulls found, now 4103 (0.3741906064751482%) nulls total.
TITLEI: 0 nulls found, now 4597 (0.41924304605563156%) nulls total.
FTE: 1534 nulls found, now 5726 (0.5222070223438212%) nulls total.
INQUIRY_COUNT: 0 nulls found, now 0 (0.0%) nulls total.
DISCIPLINE_COUNT: 0 nulls found, now 0 (0.0%) nulls total.
NUMWORDS: 0 nulls found, now 0 (0.0%) nulls total.
LSTATE: 0 nulls found, now 3577 (0.3262197902416781%) nulls total.
CMO_NAME: 0 nulls found, now 8421 (0.7679890560875513%) nulls total.
NUMPAGES: 0 nulls found, now 0 (0.0%) nulls total.
NCESSCH: 0 nulls found, now 0 (0.0%) nulls total.
SY_STATUS15: 0 nulls found, now 3619 (0.3300501595987232%) nulls total.
SCHNAM15: 0 nulls found, now 3619 (0.3300501595987232%) nulls total.
LAT1516: 0 nulls found, now 3613 (0.3295029639762882%) nulls total.
LON1516: 0 nulls found, now 3613 (0.3295029639762882%) nulls total.
ADDRESS16: 0 nulls found, now 3532 (0.3221158230734154%) nulls total.
LEAID: 0 nulls found, now 4016 (0.3662562699498404%) nulls total.
GEO_LEAID: 0 nulls found, now 3612 (0.32941176470588235%) nulls total.
TOT_DISCWODIS_EXPWE_M: 45 nulls found, now 5413 (0.49366165070679435%) nulls total.
TOT_DISCWODIS_EXPWE_F: 45 nulls found, now 5413 (0.49366165070679435%) nulls total.
TOT_DISCWODIS_EXPWOE_M: 34 nulls found, now 5402 (0.49265845873233016%) nulls total.
TOT_DISCWODIS_EXPWOE_F: 34 nulls found, now 5402 (0.49265845873233016%) nulls total.
TOT_DISCWDIS_EXPWE_IDEA_M: 46 nulls found, now 5414 (0.4937528499772002%) nulls total.
TOT_DISCWDIS_EXPWE_IDEA_F: 46 nulls found, now 5414 (0.4937528499772002%) nulls total.
TOT_DISCWDIS_EXPWOE_IDEA_M: 46 nulls found, now 5414 (0.4937528499772002%) nulls total.
TOT_DISCWDIS_EXPWOE_IDEA_F: 46 nulls found, now 5414 (0.4937528499772002%) nulls total.
TOT_DISCWODIS_REF_M: 46 nulls found, now 5414 (0.4937528499772002%) nulls total.
TOT_DISCWODIS_REF_F: 46 nulls found, now 5414 (0.4937528499772002%) nulls total.
TOT_DISCWDIS_REF_IDEA_M: 46 nulls found, now 5414 (0.4937528499772002%) nulls total.
TOT_DISCWDIS_REF_IDEA_F: 46 nulls found, now 5414 (0.4937528499772002%) nulls total.
SCH_OFFENSE_RAPE: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
SCH_OFFENSE_BATT: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
SCH_OFFENSE_ROBWW: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
SCH_OFFENSE_ROBWX: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
SCH_OFFENSE_ROBWOW: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
SCH_OFFENSE_ATTWW: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
SCH_OFFENSE_ATTWX: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
SCH_OFFENSE_ATTWOW: 2 nulls found, now 5370 (0.4897400820793434%) nulls total.
SCH_OFFENSE_THRWW: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
SCH_OFFENSE_THRWX: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
SCH_OFFENSE_THRWOW: 2 nulls found, now 5370 (0.4897400820793434%) nulls total.
SCH_OFFENSE_POSSWX: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
TOT_RET_KG_M: 4013 nulls found, now 9381 (0.8555403556771546%) nulls total.
TOT_RET_KG_F: 4013 nulls found, now 9381 (0.8555403556771546%) nulls total.
TOT_RET_G01_M: 4222 nulls found, now 9590 (0.8746010031919744%) nulls total.
TOT_RET_G01_F: 4222 nulls found, now 9590 (0.8746010031919744%) nulls total.
TOT_RET_G02_M: 4504 nulls found, now 9872 (0.9003191974464204%) nulls total.
TOT_RET_G02_F: 4504 nulls found, now 9872 (0.9003191974464204%) nulls total.
TOT_RET_G03_M: 4453 nulls found, now 9821 (0.8956680346557228%) nulls total.
TOT_RET_G03_F: 4453 nulls found, now 9821 (0.8956680346557228%) nulls total.
TOT_RET_G04_M: 4895 nulls found, now 10263 (0.9359781121751026%) nulls total.
TOT_RET_G04_F: 4895 nulls found, now 10263 (0.9359781121751026%) nulls total.
TOT_RET_G05_M: 4926 nulls found, now 10294 (0.9388052895576835%) nulls total.
TOT_RET_G05_F: 4926 nulls found, now 10294 (0.9388052895576835%) nulls total.
TOT_RET_G06_M: 4862 nulls found, now 10230 (0.93296853625171%) nulls total.
TOT_RET_G06_F: 4862 nulls found, now 10230 (0.93296853625171%) nulls total.
TOT_RET_G07_M: 4860 nulls found, now 10228 (0.9327861377108984%) nulls total.
TOT_RET_G07_F: 4860 nulls found, now 10228 (0.9327861377108984%) nulls total.
TOT_RET_G08_M: 4932 nulls found, now 10300 (0.9393524851801186%) nulls total.
TOT_RET_G08_F: 4932 nulls found, now 10300 (0.9393524851801186%) nulls total.
TOT_RET_G09_M: 4886 nulls found, now 10254 (0.93515731874145%) nulls total.
TOT_RET_G09_F: 4886 nulls found, now 10254 (0.93515731874145%) nulls total.
TOT_RET_G10_M: 4959 nulls found, now 10327 (0.9418148654810762%) nulls total.
TOT_RET_G10_F: 4959 nulls found, now 10327 (0.9418148654810762%) nulls total.
TOT_RET_G11_M: 5027 nulls found, now 10395 (0.948016415868673%) nulls total.
TOT_RET_G11_F: 5027 nulls found, now 10395 (0.948016415868673%) nulls total.
TOT_RET_G12_M: 4846 nulls found, now 10214 (0.9315093479252166%) nulls total.
TOT_RET_G12_F: 4846 nulls found, now 10214 (0.9315093479252166%) nulls total.
TOT_LEPENR_M: 0 nulls found, now 5368 (0.4895576835385317%) nulls total.
TOT_LEPENR_F: 0 nulls found, now 5368 (0.4895576835385317%) nulls total.
TOT_IDEAENR_M: 710 nulls found, now 6078 (0.5543091655266758%) nulls total.
TOT_IDEAENR_F: 1279 nulls found, now 6647 (0.6062015503875969%) nulls total.
TOT_504ENR_M: 0 nulls found, now 5368 (0.4895576835385317%) nulls total.
TOT_504ENR_F: 0 nulls found, now 5368 (0.4895576835385317%) nulls total.
TOT_GTENR_M: 4018 nulls found, now 9386 (0.8559963520291838%) nulls total.
TOT_GTENR_F: 4018 nulls found, now 9386 (0.8559963520291838%) nulls total.
TOT_APENR_M: 4813 nulls found, now 10181 (0.928499772001824%) nulls total.
TOT_APENR_F: 4813 nulls found, now 10181 (0.928499772001824%) nulls total.
SCH_APENR_IND: 3331 nulls found, now 8699 (0.7933424532603739%) nulls total.
SCH_APCOURSES: 4813 nulls found, now 10181 (0.928499772001824%) nulls total.
SCH_IBENR_IND: 3331 nulls found, now 8699 (0.7933424532603739%) nulls total.
SCH_OOSINSTANCES_WODIS: 35 nulls found, now 5403 (0.49274965800273596%) nulls total.
SCH_OOSINSTANCES_IDEA: 36 nulls found, now 5404 (0.4928408572731418%) nulls total.
SCH_OOSINSTANCES_504: 35 nulls found, now 5403 (0.49274965800273596%) nulls total.
SCH_FTETEACH_CERT: 2 nulls found, now 5370 (0.4897400820793434%) nulls total.
SCH_FTETEACH_TOT: 1 nulls found, now 5369 (0.48964888280893754%) nulls total.
STATUS98: 0 nulls found, now 9600 (0.8755129958960328%) nulls total.
STATUS99: 0 nulls found, now 9048 (0.8251709986320109%) nulls total.
STATUS00: 0 nulls found, now 8570 (0.781577747378021%) nulls total.
STATUS01: 0 nulls found, now 8186 (0.7465572275421797%) nulls total.
STATUS02: 0 nulls found, now 7749 (0.706703146374829%) nulls total.
STATUS03: 0 nulls found, now 7355 (0.6707706338349293%) nulls total.
STATUS04: 0 nulls found, now 6781 (0.618422252621979%) nulls total.
STATUS05: 0 nulls found, now 6393 (0.5830369357045143%) nulls total.
STATUS06: 0 nulls found, now 6178 (0.5634290925672595%) nulls total.
STATUS07: 0 nulls found, now 6019 (0.5489284085727314%) nulls total.
STATUS08: 0 nulls found, now 5652 (0.5154582763337894%) nulls total.
STATUS09: 0 nulls found, now 5396 (0.4921112631098951%) nulls total.
STATUS10: 0 nulls found, now 5017 (0.457546739626083%) nulls total.

STATUS11: 0 nulls found, now 4632 (0.42243502051983584%) nulls total.
STATUS12: 0 nulls found, now 4332 (0.3950752393980848%) nulls total.
STATUS13: 0 nulls found, now 3991 (0.36397628818969446%) nulls total.
SY_STATUS: 0 nulls found, now 3577 (0.3262197902416781%) nulls total.
SY_STATUS16: 0 nulls found, now 3532 (0.3221158230734154%) nulls total.
WEBTEXT: 0 nulls found, now 0 (0.0%) nulls total.
LEA_NAME: 0 nulls found, now 3577 (0.3262197902416781%) nulls total.
LOCALE15: 0 nulls found, now 3613 (0.3295029639762882%) nulls total.
ALL_MTH00PCTPROF_1314: 0 nulls found, now 5692 (0.5191062471500228%) nulls total.
ALL_RLA00PCTPROF_1314: 0 nulls found, now 5410 (0.49338805289557686%) nulls total.
ALL_MTH00PCTPROF_1415: 0 nulls found, now 4662 (0.42517099863201097%) nulls total.
ALL_RLA00PCTPROF_1415: 0 nulls found, now 4661 (0.4250797993616051%) nulls total.
ALL_MTH00PCTPROF_1516: 0 nulls found, now 4665 (0.42544459644322846%) nulls total.
ALL_RLA00PCTPROF_1516: 0 nulls found, now 4663 (0.42526219790241676%) nulls total.
ALL_MTH00PCTPROF_1617: 0 nulls found, now 4406 (0.40182398540811676%) nulls total.
ALL_RLA00PCTPROF_1617: 0 nulls found, now 4415 (0.40264477884176925%) nulls total.
CHILDPOV_S16: 0 nulls found, now 3760 (0.3429092567259462%) nulls total.

In [45]:
# Filter to only open schools
filtered_STATUS = (charterdf['SY_STATUS15'] == 1) | (charterdf['SY_STATUS15'] == 3) | (charterdf['SY_STATUS15'] == 4) | (charterdf['SY_STATUS15'] == 5) | (charterdf['SY_STATUS15'] == 8)
chopendf = charterdf.loc[filtered_STATUS].reset_index(drop=True)

check_df(chopendf, "NCESSCH")

# rows and cols:  (6947, 131)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
LEVEL: 19 missing
MEMBER: 38 missing
SE_T002_002: 4076 missing
TOTETH: 30 missing
TOTFRL: 560 missing
PCT_SE_T113_002: 4017 missing
WH: 37 missing
AM: 37 missing
AS: 37 missing
BL: 37 missing
HI: 37 missing
HP: 293 missing
TR: 37 missing
ESS_VALID_RATIO: 647 missing
PROG_VALID_RATIO: 647 missing
INQUIRY_RATIO: 647 missing
DISCIPLINE_RATIO: 647 missing
TITLEI: 908 missing
FTE: 1985 missing
INQUIRY_COUNT
DISCIPLINE_COUNT
NUMWORDS
LSTATE
CMO_NAME: 4582 missing
NUMPAGES
NCESSCH
SY_STATUS15
SCHNAM15
LAT1516
LON1516
ADDRESS16: 33 missing
LEAID: 3 missing
GEO_LEAID
TOT_DISCWODIS_EXPWE_M: 1402 missing
TOT_DISCWODIS_EXPWE_F: 1402 missing
TOT_DISCWODIS_EXPWOE_M: 1391 missing
TOT_DISCWODIS_EXPWOE_F: 1391 missing
TOT_DISCWDIS_EXPWE_IDEA_M: 1403 missing
TOT_DISCWDIS_EXPWE_IDEA_F: 1403 missing
TOT_DISCWDIS_EXPWOE_IDEA_M: 1403 missing
TOT_DISCWDIS_EXPWOE_IDEA_F: 1403 missing
TOT_DISCWODIS_REF_M: 1403 missing
TOT_DISCWODIS_REF_F: 1403 missing
TOT_DISCWDIS_REF_IDEA_M: 1403 missing
TOT_DISCWDIS_REF_IDEA_F: 1403 missing
SCH_OFFENSE_RAPE: 1361 missing
SCH_OFFENSE_BATT: 1361 missing
SCH_OFFENSE_ROBWW: 1361 missing
SCH_OFFENSE_ROBWX: 1361 missing
SCH_OFFENSE_ROBWOW: 1361 missing
SCH_OFFENSE_ATTWW: 1361 missing
SCH_OFFENSE_ATTWX: 1361 missing
SCH_OFFENSE_ATTWOW: 1362 missing
SCH_OFFENSE_THRWW: 1361 missing
SCH_OFFENSE_THRWX: 1361 missing
SCH_OFFENSE_THRWOW: 1362 missing
SCH_OFFENSE_POSSWX: 1361 missing
TOT_RET_KG_M: 5365 missing
TOT_RET_KG_F: 5365 missing
TOT_RET_G01_M: 5575 missing
TOT_RET_G01_F: 5575 missing
TOT_RET_G02_M: 5856 missing
TOT_RET_G02_F: 5856 missing
TOT_RET_G03_M: 5804 missing
TOT_RET_G03_F: 5804 missing
TOT_RET_G04_M: 6245 missing
TOT_RET_G04_F: 6245 missing
TOT_RET_G05_M: 6277 missing
TOT_RET_G05_F: 6277 missing
TOT_RET_G06_M: 6215 missing
TOT_RET_G06_F: 6215 missing
TOT_RET_G07_M: 6212 missing
TOT_RET_G07_F: 6212 missing
TOT_RET_G08_M: 6283 missing
TOT_RET_G08_F: 6283 missing
TOT_RET_G09_M: 6237 missing
TOT_RET_G09_F: 6237 missing
TOT_RET_G10_M: 6310 missing
TOT_RET_G10_F: 6310 missing
TOT_RET_G11_M: 6378 missing
TOT_RET_G11_F: 6378 missing
TOT_RET_G12_M: 6197 missing
TOT_RET_G12_F: 6197 missing
TOT_LEPENR_M: 1360 missing
TOT_LEPENR_F: 1360 missing
TOT_IDEAENR_M: 2067 missing
TOT_IDEAENR_F: 2636 missing
TOT_504ENR_M: 1360 missing
TOT_504ENR_F: 1360 missing
TOT_GTENR_M: 5371 missing
TOT_GTENR_F: 5371 missing
TOT_APENR_M: 6164 missing
TOT_APENR_F: 6164 missing
SCH_APENR_IND: 4685 missing
SCH_APCOURSES: 6164 missing
SCH_IBENR_IND: 4685 missing
SCH_OOSINSTANCES_WODIS: 1392 missing
SCH_OOSINSTANCES_IDEA: 1393 missing
SCH_OOSINSTANCES_504: 1392 missing
SCH_FTETEACH_CERT: 1362 missing
SCH_FTETEACH_TOT: 1361 missing
STATUS98: 6018 missing
STATUS99: 5762 missing
STATUS00: 5521 missing
STATUS01: 5269 missing
STATUS02: 4975 missing
STATUS03: 4703 missing
STATUS04: 4350 missing
STATUS05: 4069 missing
STATUS06: 3790 missing
STATUS07: 3530 missing
STATUS08: 3199 missing
STATUS09: 2907 missing
STATUS10: 2465 missing
STATUS11: 1934 missing
STATUS12: 1498 missing
STATUS13: 964 missing
SY_STATUS
SY_STATUS16: 33 missing
WEBTEXT
LEA_NAME
LOCALE15
ALL_MTH00PCTPROF_1314: 2157 missing
ALL_RLA00PCTPROF_1314: 1896 missing
ALL_MTH00PCTPROF_1415: 937 missing
ALL_RLA00PCTPROF_1415: 941 missing
ALL_MTH00PCTPROF_1516: 651 missing
ALL_RLA00PCTPROF_1516: 649 missing
ALL_MTH00PCTPROF_1617: 692 missing
ALL_RLA00PCTPROF_1617: 699 missing
CHILDPOV_S16: 136 missing

In [46]:
chopendf[chopendf['SY_STATUS'] != chopendf['SY_STATUS15']][['SY_STATUS', 'SY_STATUS15']]

      SY_STATUS  SY_STATUS15
2153        2.0          3.0
6552        2.0          1.0
6563        2.0          1.0
6623        1.0          5.0
6624        1.0          5.0
6625        1.0          5.0

In [47]:
# Create new variable with number of pdfs in website
chopendf["NUMPDFS"] = chopendf["WEBTEXT"].apply(lambda x: count_pdfs(x, 1))

In [48]:
# Create new variable with density of charter schools
chopendf["PUBLIC_DENSITY"], chopendf["CHARTER_DENSITY"] = density_calc(chopendf, pubdf_small, "GEO_LEAID", "NCESSCH", "TRUE_CHARTER")

# Fill missing charter densities with zero, because otherwise districts with no charters show NaN
chopendf["CHARTER_DENSITY"] = chopendf["CHARTER_DENSITY"].fillna(0)

In [49]:
# Create new variable with years schools were opened and closed
chopendf["YEAR_OPENED"], chopendf["YEAR_CLOSED"] = openclose_calc(chopendf, statusyears_list, 'NCESSCH')

# For use once we write apply() function:
# chopendf.apply(lambda x: openclose_calc(x, statusyears_list, 'NCESSCH'))

In [50]:
chopendf["AGE"] = 2015 - chopendf["YEAR_OPENED"] # Create age variable (thru 2015-16 school year)
chopendf["AGE"].value_counts()

1     1058
17     959
2      581
4      477
3      460
5      385
6      323
7      320
11     311
10     305
9      305
16     254
15     252
13     250
8      241
12     235
14     229
0        2
Name: AGE, dtype: int64

In [51]:
chopendf [chopendf["AGE"]==1] [["STATUS12", "STATUS13", "SY_STATUS", "SY_STATUS15"]]

      STATUS12  STATUS13  SY_STATUS  SY_STATUS15
11         NaN       NaN        3.0          3.0
42         NaN       NaN        1.0          1.0
120        NaN       7.0        1.0          1.0
121        NaN       NaN        3.0          3.0
233        NaN       NaN        1.0          1.0
270        NaN       NaN        3.0          3.0
321        NaN       NaN        1.0          1.0
380        NaN       NaN        1.0          1.0
381        NaN       NaN        3.0          3.0
444        NaN       NaN        1.0          1.0
446        NaN       NaN        1.0          1.0
513        NaN       7.0        1.0          1.0
515        NaN       NaN        1.0          1.0
516        NaN       NaN        1.0          1.0
517        NaN       NaN        1.0          1.0
518        NaN       7.0        1.0          1.0
519        NaN       NaN        1.0          1.0
520        NaN       NaN        1.0          1.0
521        NaN       NaN        1.0          1.0
522        NaN       7.0        1.0          1.0
524        NaN       NaN        1.0          1.0
531        NaN       7.0        1.0          1.0
532        NaN       NaN        1.0          1.0
533        NaN       NaN        1.0          1.0
534        NaN       NaN        1.0          1.0
535        NaN       NaN        1.0          1.0
536        NaN       NaN        1.0          1.0
537        NaN       NaN        1.0          1.0
538        NaN       NaN        1.0          1.0
539        NaN       NaN        1.0          1.0
...        ...       ...        ...          ...
6654       NaN       NaN        3.0          3.0
6656       NaN       NaN        5.0          5.0
6661       NaN       NaN        3.0          3.0
6665       NaN       NaN        1.0          1.0
6668       NaN       NaN        3.0          3.0
6669       NaN       NaN        3.0          3.0
6673       NaN       NaN        3.0          3.0
6684       NaN       NaN        1.0          1.0
6694       NaN       7.0        1.0          1.0
6695       NaN       NaN        1.0          1.0
6710       NaN       7.0        1.0          1.0
6713       NaN       7.0        1.0          1.0
6723       NaN       NaN        3.0          3.0
6724       NaN       7.0        1.0          1.0
6725       NaN       7.0        1.0          1.0
6749       NaN       NaN        1.0          1.0
6756       NaN       NaN        1.0          1.0
6757       NaN       NaN        3.0          3.0
6762       NaN       NaN        1.0          1.0
6766       NaN       7.0        1.0          1.0
6769       NaN       NaN        1.0          1.0
6780       NaN       NaN        1.0          1.0
6784       NaN       NaN        1.0          1.0
6808       NaN       NaN        1.0          1.0
6812       NaN       NaN        3.0          3.0
6813       NaN       NaN        3.0          3.0
6814       NaN       NaN        1.0          1.0
6821       NaN       7.0        1.0          1.0
6822       NaN       7.0        1.0          1.0
6826       NaN       NaN        1.0          1.0

[1058 rows x 4 columns]

In [52]:
# Create new variable with public school closure rate
firstyear, lastyear = 1999, 2016; timespan = lastyear - firstyear
closeratedf = closerate_calc(chopendf, pubdf_small, "GEO_LEAID", "YEAR_OPENED", "YEAR_CLOSED", "NCESSCH", firstyear, lastyear)
chopendf["close_rate14"], chopendf["close_rate15"], chopendf["close_rate16"] = closeratedf[timespan-2], closeratedf[timespan-1], closeratedf[timespan]
chopendf["close_rate1216"] = closeratedf[timespan-4] + closeratedf[timespan-3] + closeratedf[timespan-2] + closeratedf[timespan-1] + closeratedf[timespan]

check_df(chopendf, "NCESSCH")

Returning DF of closure rates for each year from 1999 to 2016, indexed by digits from 0 to 17...
# rows and cols:  (6947, 141)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
LEVEL: 19 missing
MEMBER: 38 missing
SE_T002_002: 4076 missing
TOTETH: 30 missing
TOTFRL: 560 missing
PCT_SE_T113_002: 4017 missing
WH: 37 missing
AM: 37 missing
AS: 37 missing
BL: 37 missing
HI: 37 missing
HP: 293 missing
TR: 37 missing
ESS_VALID_RATIO: 647 missing
PROG_VALID_RATIO: 647 missing
INQUIRY_RATIO: 647 missing
DISCIPLINE_RATIO: 647 missing
TITLEI: 908 missing
FTE: 1985 missing
INQUIRY_COUNT
DISCIPLINE_COUNT
NUMWORDS
LSTATE
CMO_NAME: 4582 missing
NUMPAGES
NCESSCH
SY_STATUS15
SCHNAM15
LAT1516
LON1516
ADDRESS16: 33 missing
LEAID: 3 missing
GEO_LEAID
TOT_DISCWODIS_EXPWE_M: 1402 missing
TOT_DISCWODIS_EXPWE_F: 1402 missing
TOT_DISCWODIS_EXPWOE_M: 1391 missing
TOT_DISCWODIS_EXPWOE_F: 1391 missing
TOT_DISCWDIS_EXPWE_IDEA_M: 1403 missing
TOT_DISCWDIS_EXPWE_IDEA_F: 1403 missing
TOT_DISCWDIS_EXPWOE_IDEA_M: 1403 missing
TOT_DISCWDIS_EXPWOE_IDEA_F: 1403 missing
TOT_DISCWODIS_REF_M: 1403 missing
TOT_DISCWODIS_REF_F: 1403 missing
TOT_DISCWDIS_REF_IDEA_M: 1403 missing
TOT_DISCWDIS_REF_IDEA_F: 1403 missing
SCH_OFFENSE_RAPE: 1361 missing
SCH_OFFENSE_BATT: 1361 missing
SCH_OFFENSE_ROBWW: 1361 missing
SCH_OFFENSE_ROBWX: 1361 missing
SCH_OFFENSE_ROBWOW: 1361 missing
SCH_OFFENSE_ATTWW: 1361 missing
SCH_OFFENSE_ATTWX: 1361 missing
SCH_OFFENSE_ATTWOW: 1362 missing
SCH_OFFENSE_THRWW: 1361 missing
SCH_OFFENSE_THRWX: 1361 missing
SCH_OFFENSE_THRWOW: 1362 missing
SCH_OFFENSE_POSSWX: 1361 missing
TOT_RET_KG_M: 5365 missing
TOT_RET_KG_F: 5365 missing
TOT_RET_G01_M: 5575 missing
TOT_RET_G01_F: 5575 missing
TOT_RET_G02_M: 5856 missing
TOT_RET_G02_F: 5856 missing
TOT_RET_G03_M: 5804 missing
TOT_RET_G03_F: 5804 missing
TOT_RET_G04_M: 6245 missing
TOT_RET_G04_F: 6245 missing
TOT_RET_G05_M: 6277 missing
TOT_RET_G05_F: 6277 missing
TOT_RET_G06_M: 6215 missing
TOT_RET_G06_F: 6215 missing
TOT_RET_G07_M: 6212 missing
TOT_RET_G07_F: 6212 missing
TOT_RET_G08_M: 6283 missing
TOT_RET_G08_F: 6283 missing
TOT_RET_G09_M: 6237 missing
TOT_RET_G09_F: 6237 missing
TOT_RET_G10_M: 6310 missing
TOT_RET_G10_F: 6310 missing
TOT_RET_G11_M: 6378 missing
TOT_RET_G11_F: 6378 missing
TOT_RET_G12_M: 6197 missing
TOT_RET_G12_F: 6197 missing
TOT_LEPENR_M: 1360 missing
TOT_LEPENR_F: 1360 missing
TOT_IDEAENR_M: 2067 missing
TOT_IDEAENR_F: 2636 missing
TOT_504ENR_M: 1360 missing
TOT_504ENR_F: 1360 missing
TOT_GTENR_M: 5371 missing
TOT_GTENR_F: 5371 missing
TOT_APENR_M: 6164 missing
TOT_APENR_F: 6164 missing
SCH_APENR_IND: 4685 missing
SCH_APCOURSES: 6164 missing
SCH_IBENR_IND: 4685 missing
SCH_OOSINSTANCES_WODIS: 1392 missing
SCH_OOSINSTANCES_IDEA: 1393 missing
SCH_OOSINSTANCES_504: 1392 missing
SCH_FTETEACH_CERT: 1362 missing
SCH_FTETEACH_TOT: 1361 missing
STATUS98: 6018 missing
STATUS99: 5762 missing
STATUS00: 5521 missing
STATUS01: 5269 missing
STATUS02: 4975 missing
STATUS03: 4703 missing
STATUS04: 4350 missing
STATUS05: 4069 missing
STATUS06: 3790 missing
STATUS07: 3530 missing
STATUS08: 3199 missing
STATUS09: 2907 missing
STATUS10: 2465 missing
STATUS11: 1934 missing
STATUS12: 1498 missing
STATUS13: 964 missing
SY_STATUS
SY_STATUS16: 33 missing
WEBTEXT
LEA_NAME
LOCALE15
ALL_MTH00PCTPROF_1314: 2157 missing
ALL_RLA00PCTPROF_1314: 1896 missing
ALL_MTH00PCTPROF_1415: 937 missing
ALL_RLA00PCTPROF_1415: 941 missing
ALL_MTH00PCTPROF_1516: 651 missing
ALL_RLA00PCTPROF_1516: 649 missing
ALL_MTH00PCTPROF_1617: 692 missing
ALL_RLA00PCTPROF_1617: 699 missing
CHILDPOV_S16: 136 missing
NUMPDFS
PUBLIC_DENSITY
CHARTER_DENSITY
YEAR_OPENED
YEAR_CLOSED
AGE
close_rate14
close_rate15
close_rate16
close_rate1216

In [53]:
# Combine columns for expulsions, LEP, etc.
#chopendf["Total Number of Students who received an expulsion"] = chopendf[expul_cols].sum(axis=1)
chopendf["Total Number of Students who received an expulsion"] = \
    chopendf["TOT_DISCWODIS_EXPWE_M"] + chopendf["TOT_DISCWODIS_EXPWE_F"] + \
    chopendf["TOT_DISCWODIS_EXPWOE_M"] + chopendf["TOT_DISCWODIS_EXPWOE_F"] + \
    chopendf["TOT_DISCWDIS_EXPWE_IDEA_M"] + chopendf["TOT_DISCWDIS_EXPWE_IDEA_F"] + \
    chopendf["TOT_DISCWDIS_EXPWOE_IDEA_M"] + chopendf["TOT_DISCWDIS_EXPWOE_IDEA_F"]

chopendf["Instances of out-of-school suspension"] = \
chopendf["SCH_OOSINSTANCES_WODIS"] + chopendf["SCH_OOSINSTANCES_IDEA"] + chopendf["SCH_OOSINSTANCES_504"]

chopendf["Total Number of Students who were referred to a law enforcement agency or official"] = \
chopendf["TOT_DISCWODIS_REF_M"] + chopendf["TOT_DISCWODIS_REF_F"] + chopendf["TOT_DISCWDIS_REF_IDEA_M"] + \
chopendf["TOT_DISCWDIS_REF_IDEA_F"]

chopendf["Incidents of assault robbery threats"] = \
chopendf["SCH_OFFENSE_RAPE"] + chopendf["SCH_OFFENSE_BATT"] + chopendf["SCH_OFFENSE_ROBWW"] + \
chopendf["SCH_OFFENSE_ROBWX"] + chopendf["SCH_OFFENSE_ROBWOW"] + chopendf["SCH_OFFENSE_ATTWW"] + \
chopendf["SCH_OFFENSE_ATTWX"] + chopendf["SCH_OFFENSE_ATTWOW"] + chopendf["SCH_OFFENSE_THRWW"] + \
chopendf["SCH_OFFENSE_THRWX"] + chopendf["SCH_OFFENSE_THRWOW"] + chopendf["SCH_OFFENSE_POSSWX"]

chopendf["Student retention rate"] = \
((chopendf["TOT_RET_KG_M"] + chopendf["TOT_RET_KG_F"] + chopendf["TOT_RET_G01_M"] + chopendf["TOT_RET_G01_F"] + \
  chopendf["TOT_RET_G02_M"] + chopendf["TOT_RET_G02_F"] + chopendf["TOT_RET_G03_M"] + chopendf["TOT_RET_G03_F"] + \
  chopendf["TOT_RET_G04_M"] + chopendf["TOT_RET_G04_F"] + chopendf["TOT_RET_G05_M"] + chopendf["TOT_RET_G05_F"] + \
  chopendf["TOT_RET_G06_M"] + chopendf["TOT_RET_G06_F"] + chopendf["TOT_RET_G07_M"] + chopendf["TOT_RET_G07_F"] + \
  chopendf["TOT_RET_G08_M"] + chopendf["TOT_RET_G08_F"] + chopendf["TOT_RET_G09_M"] + chopendf["TOT_RET_G09_F"] + \
  chopendf["TOT_RET_G10_M"] + chopendf["TOT_RET_G10_F"] + chopendf["TOT_RET_G11_M"] + chopendf["TOT_RET_G11_F"] + \
  chopendf["TOT_RET_G12_M"] + chopendf["TOT_RET_G12_F"])/chopendf["MEMBER"]).apply(pd.to_numeric, downcast='float')

chopendf["Enrollment of students are limited English proficient"] = chopendf["TOT_LEPENR_M"] + chopendf["TOT_LEPENR_F"]
chopendf["Students with disabilities served under IDEA or Section 504"] = \
chopendf["TOT_IDEAENR_M"] + chopendf["TOT_IDEAENR_F"] + chopendf["TOT_504ENR_M"] + chopendf["TOT_504ENR_F"]
chopendf["Gifted and Talented Student Enrollment"] = chopendf["TOT_GTENR_M"] + chopendf["TOT_GTENR_F"]

chopendf["Students Enrolled in at least one AP Course"] = chopendf["TOT_APENR_M"] + chopendf["TOT_APENR_F"]
chopendf["AP Program indicator"] = chopendf["SCH_APENR_IND"]
chopendf["Number different AP Courses"] = chopendf["SCH_APCOURSES"]
chopendf["IB Diploma Programme Indicator"] = chopendf["SCH_IBENR_IND"]
chopendf["Total FTE of Teachers"] = chopendf["SCH_FTETEACH_TOT"]
chopendf["Number of FTE teachers who are certified"] = chopendf["SCH_FTETEACH_CERT"]
chopendf["% of FTE teachers who are certified"] = \
(chopendf["SCH_FTETEACH_CERT"]/chopendf["SCH_FTETEACH_TOT"]).apply(pd.to_numeric, downcast='float')


# Drop the original expulsion and CRDC columns
chopendf.drop(columns=CRDC_cols, inplace=True, axis=1)

# Recode locale columns:
chopendf["PLACE"] = chopendf["LOCALE15"].replace(to_replace={"11":"City", "12":"City", "13":"City", "21":"Suburb", "22":"Suburb", "23":"Suburb", "31":"Town", "32":"Town", "33":"Town", "41":"Rural", "42":"Rural", "43":"Rural"}, value=None).astype('category')
chopendf["URBAN"] = chopendf["LOCALE15"].replace(to_replace={"11":1, "12":1, "13":1, "21":0, "22":0, "23":0, "31":0, "32":0, "33":0, "41":0, "42":0, "43":0}, value=None).astype('category')
chopendf["LOCALE15"] = chopendf["LOCALE15"].replace(to_replace={"11":"City (large)", "12":"City (midsize)", "13":"City (small)", "21":"Suburb (large)", "22":"Suburb (midsize)", "23":"Suburb (small)", "31":"Town (fringe)", "32":"Town (distant)", "33":"Town (remote)", "41":"Rural (fringe)", "42":"Rural (distant)", "43":"Rural (remote)"}, value=None).astype('category')
#chopendf["TITLEI"] = chopendf["TITLEI"].map({"Yes":1.0, "No":0.0}).astype('category') # already done

# Clean up (grade-) LEVEL column and create dummies:
chopendf['LEVEL'].replace(to_replace="N", value=np.NaN, inplace=True) # Replace "N" with "NaN"
chopendf['PRIMARY'] = chopendf['LEVEL'].replace(to_replace=["1", "2", "3", "4"], value=[1, 0, 0, 0]).fillna(np.NaN).astype('category') # Binary indicating whether school is primary
chopendf['MIDDLE'] = chopendf['LEVEL'].replace(to_replace=["1", "2", "3", "4"], value=[0, 1, 0, 0]).fillna(np.NaN).astype('category') # Binary indicating whether school is primary
chopendf['HIGH'] = chopendf['LEVEL'].replace(to_replace=["1", "2", "3", "4"], value=[0, 0, 1, 0]).fillna(np.NaN).astype('category') # Binary indicating whether school is primary
chopendf['OTHER_LEVEL'] = chopendf['LEVEL'].replace(to_replace=["1", "2", "3", "4"], value=[0, 0, 0, 1]).fillna(np.NaN).astype('category') # Binary indicating whether school is primary
chopendf['LEVEL'].replace(to_replace=["1", "2", "3", "4"], value=["Primary", "Middle", "High", "Other"], inplace=True) # Recode for clarity

chopendf["IN_CMO"] = charterdf["CMO_NAME"].notnull().replace([True, False], [1, 0]).fillna(np.NaN).astype('category') # Define to 1 if in CMO
chopendf["PCTWHT"] = (chopendf["WH"]/chopendf["MEMBER"]).apply(pd.to_numeric, downcast='float')  # Percent white K-12 students
chopendf["white_students"] = (chopendf["WH"]/chopendf["MEMBER"]).apply(pd.to_numeric, downcast='float')  # Percent white K-12 students
chopendf["black_students"] = (chopendf["BL"]/chopendf["MEMBER"]).apply(pd.to_numeric, downcast='float')  # Percent black K-12 students
chopendf["hispanic_students"] = (chopendf["HI"]/chopendf["MEMBER"]).apply(pd.to_numeric, downcast='float')  # Percent hispanic K-12 students
chopendf["asian_students"] = ((chopendf["AS"] + chopendf["HP"])/chopendf["MEMBER"]).apply(pd.to_numeric, downcast='float')  # Percent asian K-12 students
chopendf["native_students"] = (chopendf["AM"]/chopendf["MEMBER"]).apply(pd.to_numeric, downcast='float')  # Percent native K-12 students
chopendf["mixed_students"] = (chopendf["TR"]/chopendf["MEMBER"]).apply(pd.to_numeric, downcast='float')  # Percent mixed K-12 students
chopendf["PCTETH"] = (100*(chopendf["TOTETH"]/chopendf["MEMBER"])).apply(pd.to_numeric, downcast='float')  # Percent nonwhite K-12 students
chopendf["PCTFRL"] = (100*(chopendf["TOTFRL"]/chopendf["MEMBER"])).apply(pd.to_numeric, downcast='float')  # Percent receiving free/ reduced-price lunch
chopendf["STR"] = (chopendf["MEMBER"]/chopendf["FTE"]).apply(pd.to_numeric, downcast='float') # Student/teacher ratio

# Create new binary columns for ethnic isolation, i.e. percentage of racial minorities > some threshold 
# (using various thresholds)
chopendf["ETHNIC_ISOLATED99"] = np.where(chopendf["PCTETH"]>=0.99, 1, 0) # Whether school is ethnically isolated (>99% nonwhite) 
chopendf["ETHNIC_ISOLATED95"] = np.where(chopendf["PCTETH"]>=0.95, 1, 0) # >95% nonwhite
chopendf["ETHNIC_ISOLATED90"] = np.where(chopendf["PCTETH"]>=0.90, 1, 0) # >90% nonwhite
chopendf["ETHNIC_ISOLATED80"] = np.where(chopendf["PCTETH"]>=0.80, 1, 0) # >80% nonwhite
chopendf["ETHNIC_ISOLATED70"] = np.where(chopendf["PCTETH"]>=0.70, 1, 0) # >70% nonwhite
chopendf["WHITE_ISOLATED99"] = np.where(chopendf["PCTWHT"]>=0.99, 1, 0) # Whether school is predominantly white (>99%) 
chopendf["WHITE_ISOLATED95"] = np.where(chopendf["PCTWHT"]>=0.95, 1, 0) # >95% white
chopendf["WHITE_ISOLATED90"] = np.where(chopendf["PCTWHT"]>=0.90, 1, 0) # >90% white
chopendf["WHITE_ISOLATED80"] = np.where(chopendf["PCTWHT"]>=0.80, 1, 0) # >80% white
chopendf["WHITE_ISOLATED70"] = np.where(chopendf["PCTWHT"]>=0.70, 1, 0) # >70% white

chopendf = convert_df(chopendf, ["WEBTEXT"]) # Make memory-efficient
check_df(chopendf, "NCESSCH") # Check missing vars

# rows and cols:  (6947, 115)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
LEVEL: 19 missing
MEMBER: 38 missing
SE_T002_002: 4076 missing
TOTETH: 30 missing
TOTFRL: 560 missing
PCT_SE_T113_002: 4017 missing
WH: 37 missing
AM: 37 missing
AS: 37 missing
BL: 37 missing
HI: 37 missing
HP: 293 missing
TR: 37 missing
ESS_VALID_RATIO: 647 missing
PROG_VALID_RATIO: 647 missing
INQUIRY_RATIO: 647 missing
DISCIPLINE_RATIO: 647 missing
TITLEI: 908 missing
FTE: 1985 missing
INQUIRY_COUNT
DISCIPLINE_COUNT
NUMWORDS
LSTATE
CMO_NAME: 4582 missing
NUMPAGES
NCESSCH
SY_STATUS15
SCHNAM15
LAT1516
LON1516
ADDRESS16: 33 missing
LEAID: 3 missing
GEO_LEAID
STATUS98: 6018 missing
STATUS99: 5762 missing
STATUS00: 5521 missing
STATUS01: 5269 missing
STATUS02: 4975 missing
STATUS03: 4703 missing
STATUS04: 4350 missing
STATUS05: 4069 missing
STATUS06: 3790 missing
STATUS07: 3530 missing
STATUS08: 3199 missing
STATUS09: 2907 missing
STATUS10: 2465 missing
STATUS11: 1934 missing
STATUS12: 1498 missing
STATUS13: 964 missing
SY_STATUS
SY_STATUS16: 33 missing
LEA_NAME
LOCALE15
ALL_MTH00PCTPROF_1314: 2157 missing
ALL_RLA00PCTPROF_1314: 1896 missing
ALL_MTH00PCTPROF_1415: 937 missing
ALL_RLA00PCTPROF_1415: 941 missing
ALL_MTH00PCTPROF_1516: 651 missing
ALL_RLA00PCTPROF_1516: 649 missing
ALL_MTH00PCTPROF_1617: 692 missing
ALL_RLA00PCTPROF_1617: 699 missing
CHILDPOV_S16: 136 missing
NUMPDFS
PUBLIC_DENSITY
CHARTER_DENSITY
YEAR_OPENED
YEAR_CLOSED
AGE
close_rate14
close_rate15
close_rate16
close_rate1216
Total Number of Students who received an expulsion: 1403 missing
Instances of out-of-school suspension: 1393 missing
Total Number of Students who were referred to a law enforcement agency or official: 1403 missing
Incidents of assault robbery threats: 1362 missing
Student retention rate: 6931 missing
Enrollment of students are limited English proficient: 1360 missing
Students with disabilities served under IDEA or Section 504: 2743 missing
Gifted and Talented Student Enrollment: 5371 missing
Students Enrolled in at least one AP Course: 6164 missing
AP Program indicator: 4685 missing
Number different AP Courses: 6164 missing
IB Diploma Programme Indicator: 4685 missing
Total FTE of Teachers: 1361 missing
Number of FTE teachers who are certified: 1362 missing
% of FTE teachers who are certified: 1765 missing
PLACE
URBAN
PRIMARY: 19 missing
MIDDLE: 19 missing
HIGH: 19 missing
OTHER_LEVEL: 19 missing
IN_CMO
PCTWHT: 62 missing
white_students: 62 missing
black_students: 62 missing
hispanic_students: 62 missing
asian_students: 318 missing
native_students: 62 missing
mixed_students: 62 missing
PCTETH: 62 missing
PCTFRL: 573 missing
STR: 1993 missing
ETHNIC_ISOLATED99
ETHNIC_ISOLATED95
ETHNIC_ISOLATED90
ETHNIC_ISOLATED80
ETHNIC_ISOLATED70
WHITE_ISOLATED99
WHITE_ISOLATED95
WHITE_ISOLATED90
WHITE_ISOLATED80
WHITE_ISOLATED70
WEBTEXT

## Merge ACS data again using new GEO_LEAID

In [58]:
acs = pd.read_csv(ACSfull_loc, header = [0, 1], encoding="latin1", low_memory=False) # School district social data (ACS, 2012-16)

acs_tups = [('FIPS', 'Geo_FIPS'), 
            ('% Total Population: White Alone', 'PCT_SE_T013_002'), 
            ('% Total Population: Black or African American Alone', 'PCT_SE_T013_003'), 
            ('% Total Population: American Indian and Alaska Native Alone', 'PCT_SE_T013_004'), 
            ('% Total Population: Asian Alone', 'PCT_SE_T013_005'), 
            ('% Total Population: Native Hawaiian and Other Pacific Islander Alone', 'PCT_SE_T013_006'), 
            ('% Total Population: Some Other Race Alone', 'PCT_SE_T013_007'), 
            ('% Total Population: Two or More Races', 'PCT_SE_T013_008'), 
            ('% Families: Income in Below Poverty Level', 'PCT_SE_T113_002'), 
            ('Population Density (Per Sq. Mile)', 'SE_T002_002'), 
            ("% Population 25 Years and Over: Bachelor's Degree", 'PCT_SE_T025_005'), 
            ("% Population 25 Years and Over: Master's Degree", 'PCT_SE_T025_006'), 
            ('% Population 25 Years and Over: Professional School Degree', 'PCT_SE_T025_007'), 
            ('% Population 25 Years and Over: Doctorate Degree', 'PCT_SE_T025_008'), 
            ('% Civilian Population in Labor Force 16 Years and Over: Unemployed', 'PCT_SE_T037_003'), 
            ('% Total Population: Foreign Born', 'PCT_SE_T133_003')]

# Keep only ACS cols we need
acs = acs[acs_tups]

# Get list of ACS vars to drop from school dfs (to avoid risk of duplication):
acsvars_ch, acsvars_pub = [], []
for var in list(acs):
    if var[1] in list(chopendf) and var[1] not in acsvars_ch:
        acsvars_ch.append(var[1])
    #if var[1] in list(pubsdf) and var[1] not in acsvars_pub:
    #    acsvars_pub.append(var[1])
    #if var in list(pubsdf) and var not in acsvars_pub:
    #    acsvars_pub.append(var)

mergevar = "GEO_LEAID"
acs[mergevar] = acs[("FIPS", "Geo_FIPS")] # Simplifies merging process
chopendf = chopendf.drop(acsvars_ch, axis=1) # Drop ACS vars
chopendf = pd.merge(chopendf, acs, how="left", on=mergevar) # Merge

# Rename ACS vars so they're single index--and thus easier to work with
rename_dict = dict(((x,y),y) for x,y in acs_tups)
chopendf.rename(index=str, columns=rename_dict, inplace=True) # Rename columns using renaming dict

# Create new ACS variables
chopendf["PCTBA_SD"] = chopendf["PCT_SE_T025_005"] + chopendf["PCT_SE_T025_006"] + chopendf['PCT_SE_T025_007'] + chopendf['PCT_SE_T025_008'] # "% Population 25 Years and Over: Bachelor's Degree or Higher" (school district)
chopendf['PCTETH_SD'] = 100 - chopendf['PCT_SE_T013_002'] # "% Total Population: Nonwhite" (school district)
chopendf['asian_district'] = chopendf["PCT_SE_T013_005"] + chopendf["PCT_SE_T013_006"] # "% Total Population: Asian or Hawaiian/Pacific Islander" (school district)
chopendf['mixed_district'] = chopendf["PCT_SE_T013_007"] + chopendf["PCT_SE_T013_008"] # "% Total Population: Biracial or Other" (school district)
chopendf['hispanic_district'] = (100 - (chopendf["PCT_SE_T013_002"] + 
                                               chopendf["PCT_SE_T013_003"] + chopendf["PCT_SE_T013_004"] + 
                                               chopendf["PCT_SE_T013_005"] + chopendf["PCT_SE_T013_006"] + 
                                               chopendf["PCT_SE_T013_007"] + chopendf["PCT_SE_T013_008"])) # Infer district % Hispanic
chopendf['hispanic_district'] = chopendf['hispanic_district'].apply(lambda x: max(0, x)) # take max to make sure we get no negatives

In [59]:
# Clean up by dropping vars not needed for analysis
chopendf.drop(columns=["WEBTEXT", "WH", "PCTWHT", "SY_STATUS15", "LEAID", "PCT_SE_T013_007", "PCT_SE_T013_008", 
                       "PCT_SE_T025_005", "PCT_SE_T025_006", "PCT_SE_T025_007", "PCT_SE_T025_008"], 
              axis=1, inplace=True)

# Rename variables
chopendf = chopendf.rename(
    index=str, columns={'NUMWORDS':'numwords', 
                        'NUMPDFS':'numpdfs', 
                        'NUMPAGES':'numpages', 
                        'LEVEL':'level', 
                        'PRIMARY':'primary', 
                        'MIDDLE':'middle', 
                        'HIGH':'high', 
                        'OTHER_LEVEL':'otherlevel', 
                        'MEMBER':'students', 
                        'FTE':'teachersccd', 
                        'SE_T002_002':'popdensity', 
                        'PCT_SE_T037_003':'unemployment', 
                        'PCT_SE_T133_003':'foreignborn',
                        'CHILDPOV_S16':'childpovertysd', 
                        'AGE':'age', 
                        'TOTETH':'pocschoolcount', 
                        'PCTETH':'pocschool', 
                        'ETHNIC_ISOLATED99':'ethnicisolated99', 
                        'ETHNIC_ISOLATED95':'ethnicisolated95', 
                        'ETHNIC_ISOLATED90':'ethnicisolated90', 
                        'ETHNIC_ISOLATED80':'ethnicisolated80', 
                        'ETHNIC_ISOLATED70':'ethnicisolated70', 
                        'WHITE_ISOLATED99':'whiteisolated99', 
                        'WHITE_ISOLATED95':'whiteisolated95', 
                        'WHITE_ISOLATED90':'whiteisolated90', 
                        'WHITE_ISOLATED80':'whiteisolated80', 
                        'WHITE_ISOLATED70':'whiteisolated70', 
                        'TOTFRL':'povertyschoolcount', 
                        'PCTFRL':'povertyschool', 
                        'PCTETH_SD':'pocsd', 
                        'PCT_SE_T113_002':'povertysd', 
                        'PCT_SE_T013_002':'white_district', 
                        'PCT_SE_T013_003':'black_district', 
                        'PCT_SE_T013_004':'native_district',
                        'ESS_VALID_RATIO':'traditionalprop', 
                        'PROG_VALID_RATIO':'progressiveprop', 
                        'INQUIRY_RATIO':'inquiryprop', 
                        'DISCIPLINE_RATIO':'disciplineprop', 
                        'INQUIRY_COUNT':'inquirycount', 
                        'DISCIPLINE_COUNT':'disciplinecount', 
                        'Total Number of Students who received an expulsion':'expulsions', 
                        'LSTATE':'state', 
                        'CMO_NAME':'cmoname', 
                        'IN_CMO':'cmo', 
                        'GEO_LEAID':'geodistrict', 
                        'SCHNAM15':'schoolname', 
                        'LEA_NAME':'districtname', 
                        'PCTBA_SD':'collegesd', 
                        'close_rate1216':'closerate', 
                        'ADDRESS16':'address', 
                        'LAT1516':'latitude', 
                        'LON1516':'longitude', 
                        'LOCALE15':'localefine', 
                        'PLACE':'locale', 
                        'URBAN':'urban',
                        'TITLEI':'titlei', 
                        'ALL_RLA00PCTPROF_1314':'reading1314', 
                        'ALL_MTH00PCTPROF_1314':'math1314', 
                        'ALL_RLA00PCTPROF_1415':'reading1415', 
                        'ALL_MTH00PCTPROF_1415':'math1415', 
                        'ALL_RLA00PCTPROF_1516':'reading1516', 
                        'ALL_MTH00PCTPROF_1516':'math1516', 
                        'ALL_RLA00PCTPROF_1617':'reading1617', 
                        'ALL_MTH00PCTPROF_1617':'math1617', 
                        'PUBLIC_DENSITY':'publicdensity', 
                        'CHARTER_DENSITY':'charterdensity', 
                        'Instances of out-of-school suspension':'suspensions', 
                        'Total Number of Students who were referred to a law enforcement agency or official':'lawreferrals', 
                        'Incidents of assault robbery threats':'incidents', 
                        'Student retention rate':'retentionrate',  
                        'Students Enrolled in at least one AP Course':'apcount', 
                        'AP Program indicator':'approgram', 
                        'Number different AP Courses':'apcourses',
                        'IB Diploma Programme Indicator':'ibprogram', 
                        'Total FTE of Teachers':'teacherscrdc', 
                        'Number of FTE teachers who are certified':'certcount', 
                        'Enrollment of students are limited English proficient':'lepcount', 
                        'Students with disabilities served under IDEA or Section 504':'disabledcount', 
                        '% of FTE teachers who are certified':'certrate', 
                        'Gifted and Talented Student Enrollment':'giftedcount',
                        'STR':'teacherratio'})

check_df(chopendf, "NCESSCH") # Check missing vars

# rows and cols:  (6947, 123)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
level: 19 missing
students: 38 missing
pocschoolcount: 30 missing
povertyschoolcount: 560 missing
AM: 37 missing
AS: 37 missing
BL: 37 missing
HI: 37 missing
HP: 293 missing
TR: 37 missing
traditionalprop: 647 missing
progressiveprop: 647 missing
inquiryprop: 647 missing
disciplineprop: 647 missing
titlei: 908 missing
teachersccd: 1985 missing
inquirycount
disciplinecount
numwords
state
cmoname: 4582 missing
numpages
NCESSCH
schoolname
latitude
longitude
address: 33 missing
geodistrict
STATUS98: 6018 missing
STATUS99: 5762 missing
STATUS00: 5521 missing
STATUS01: 5269 missing
STATUS02: 4975 missing
STATUS03: 4703 missing
STATUS04: 4350 missing
STATUS05: 4069 missing
STATUS06: 3790 missing
STATUS07: 3530 missing
STATUS08: 3199 missing
STATUS09: 2907 missing
STATUS10: 2465 missing
STATUS11: 1934 missing
STATUS12: 1498 missing
STATUS13: 964 missing
SY_STATUS
SY_STATUS16: 33 missing
districtname
localefine
math1314: 2157 missing
reading1314: 1896 missing
math1415: 937 missing
reading1415: 941 missing
math1516: 651 missing
reading1516: 649 missing
math1617: 692 missing
reading1617: 699 missing
childpovertysd: 136 missing
numpdfs
publicdensity
charterdensity
YEAR_OPENED
YEAR_CLOSED
age
close_rate14
close_rate15
close_rate16
closerate
expulsions: 1403 missing
suspensions: 1393 missing
lawreferrals: 1403 missing
incidents: 1362 missing
retentionrate: 6931 missing
lepcount: 1360 missing
disabledcount: 2743 missing
giftedcount: 5371 missing
apcount: 6164 missing
approgram: 4685 missing
apcourses: 6164 missing
ibprogram: 4685 missing
teacherscrdc: 1361 missing
certcount: 1362 missing
certrate: 1765 missing
locale
urban
primary: 19 missing
middle: 19 missing
high: 19 missing
otherlevel: 19 missing
cmo
white_students: 62 missing
black_students: 62 missing
hispanic_students: 62 missing
asian_students: 318 missing
native_students: 62 missing
mixed_students: 62 missing
pocschool: 62 missing
povertyschool: 573 missing
teacherratio: 1993 missing
ethnicisolated99
ethnicisolated95
ethnicisolated90
ethnicisolated80
ethnicisolated70
whiteisolated99
whiteisolated95
whiteisolated90
whiteisolated80
whiteisolated70
collegesd: 31 missing
pocsd: 31 missing
asian_district: 31 missing
mixed_district: 31 missing
hispanic_district
Geo_FIPS: 31 missing
white_district: 31 missing
black_district: 31 missing
native_district: 31 missing
PCT_SE_T013_005: 31 missing
PCT_SE_T013_006: 31 missing
povertysd: 31 missing
popdensity: 49 missing
unemployment: 31 missing
foreignborn: 31 missing

## Create, clean, & reorder data

### Data for statistics team (and sharing)

In [60]:
# Retain and reorder variables for stats team
statsdf = chopendf[['inquirycount', 'disciplinecount', 
                    'inquiryprop', 'disciplineprop', 'traditionalprop', 'progressiveprop', 
                    'numwords', 'numpages', 
                    'reading1314', 'math1314', 'reading1415', 'math1415', 
                    'reading1516', 'math1516', 'reading1617', 'math1617', 
                    'pocschool', 'pocschoolcount', 'povertyschool', 'povertyschoolcount', 
                    'white_students', 'asian_students', 'black_students', 'native_students', 'hispanic_students', 'mixed_students', 
                    'pocsd', 'povertysd', 'childpovertysd', 
                    'white_district', 'black_district', 'asian_district', 'native_district', 'mixed_district', 'hispanic_district', 
                    'students', 'age', 'state', 'cmo', 'cmoname', 'titlei', 
                    'urban', 'primary', 'middle', 'high', 'otherlevel', 'level', 
                    'expulsions', 'suspensions', 'incidents', 'lawreferrals', 
                    'lepcount', 'disabledcount', 'approgram', 
                    'teachersccd', 'teacherscrdc', 'certcount', 'certrate', 
                    'geodistrict', 'numpdfs', 'NCESSCH', 
                    'ethnicisolated99', 'ethnicisolated95', 'ethnicisolated90', 'ethnicisolated80', 'ethnicisolated70', 
                    'collegesd', 'popdensity', 'unemployment', 'foreignborn', 
                    'closerate', 'publicdensity', 'charterdensity']]

'''
# Clean up by dropping schools missing core variables
statsdf = statsdf[statsdf["students"].notnull()]
statsdf = statsdf[statsdf["povertyschool"].notnull()]
statsdf = statsdf[statsdf["povertysd"].notnull()]
statsdf = statsdf[statsdf["pocschool"].notnull()]
statsdf = statsdf[statsdf["pocsd"].notnull()]
statsdf = statsdf[statsdf["age"].notnull()]
statsdf = statsdf[statsdf["inquiry"].notnull()]
statsdf = statsdf[statsdf["discipline"].notnull()]
'''

check_df(statsdf, "NCESSCH") # Check missing vars again

# rows and cols:  (6947, 73)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
inquirycount
disciplinecount
inquiryprop: 647 missing
disciplineprop: 647 missing
traditionalprop: 647 missing
progressiveprop: 647 missing
numwords
numpages
reading1314: 1896 missing
math1314: 2157 missing
reading1415: 941 missing
math1415: 937 missing
reading1516: 649 missing
math1516: 651 missing
reading1617: 699 missing
math1617: 692 missing
pocschool: 62 missing
pocschoolcount: 30 missing
povertyschool: 573 missing
povertyschoolcount: 560 missing
white_students: 62 missing
asian_students: 318 missing
black_students: 62 missing
native_students: 62 missing
hispanic_students: 62 missing
mixed_students: 62 missing
pocsd: 31 missing
povertysd: 31 missing
childpovertysd: 136 missing
white_district: 31 missing
black_district: 31 missing
asian_district: 31 missing
native_district: 31 missing
mixed_district: 31 missing
hispanic_district
students: 38 missing
age
state
cmo
cmoname: 4582 missing
titlei: 908 missing
urban
primary: 19 missing
middle: 19 missing
high: 19 missing
otherlevel: 19 missing
level: 19 missing
expulsions: 1403 missing
suspensions: 1393 missing
incidents: 1362 missing
lawreferrals: 1403 missing
lepcount: 1360 missing
disabledcount: 2743 missing
approgram: 4685 missing
teachersccd: 1985 missing
teacherscrdc: 1361 missing
certcount: 1362 missing
certrate: 1765 missing
geodistrict
numpdfs
NCESSCH
ethnicisolated99
ethnicisolated95
ethnicisolated90
ethnicisolated80
ethnicisolated70
collegesd: 31 missing
popdensity: 49 missing
unemployment: 31 missing
foreignborn: 31 missing
closerate
publicdensity
charterdensity

### Data for text analysis team

#### Merge in full WEBTEXT (list of quadruples):

In [61]:
# Load in stats data cleaned with Stata, and race data from previous df
statscleaned_df = pd.read_csv(statscleaned_path, low_memory=False, encoding="latin1")
racedf = chopendf[['white_students', 'asian_students', 'black_students', 
                   'native_students', 'hispanic_students', 'mixed_students', 
                   'white_district', 'black_district', 'asian_district', 
                   'native_district', 'mixed_district', 'hispanic_district', 
                   'NCESSCH']] # Grab race-specific info from bigger DF

In [62]:
charter_textdf = load_filtered_df(charters_path, ["WEBTEXT", "NCESSCH"]) # Load and filter charter data set to only webtext
print(charter_textdf["WEBTEXT"][0][:5])

stats_textdf = pd.merge(statscleaned_df, charter_textdf, how="left", left_on="ncessch", right_on="NCESSCH") # Merge WEBTEXT into statsdf
stats_textdf = pd.merge(stats_textdf, racedf, how="left", left_on="ncessch", right_on="NCESSCH") # Merge race vars

stats_textdf.rename(index=str, inplace=True, columns={'WEBTEXT':'webtext', 'NCESSCH':'ncessch'}) # Rename WEBTEXT to webtext (for consistency)
print()
print("# rows and cols: " + str(stats_textdf.shape))
print()
print(list(stats_textdf))

# rows and cols:  (10965, 2)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
NCESSCH
WEBTEXT
[('http://www.maef.net/', 'False', '0', "Evening Academy\nAlabama's first tuition-free public charter school serves high school students in grades 9-12 from Mobile, Baldwin, and Washington Counties. ACCEL provides a challenging college-preparatory curriculum, individualized instruction, small class sizes, and engaging use of technology in a safe, supportive environment to ensure students graduate college and career ready. Enrollment is now OPEN\nLearn More\nWelcome to the Mobile Area Education Foundation\n75K Degrees\nEvidence2Success\nGraduate Ready\nYes We Can: Building a Blueprint for Equity and Excellence in Mobile’s Schools  \nACCELerate Day and Evening Academy\nEducation Commission\nEngaging Youth Through Engineering\nHarold Dodge Fund-A-S.T.A.R.\nPartners in Education\nReading Buddy\nResearch Alliance for Multiple Pathways (RAMP)\nSuperintendent’s Student Advisory Council\nVital Link 2.0\nThe Mobile Area Education Foundation is a nonprofit organization dedicated to improving our local public schools. Founded in 1992, our mission is to build community responsibility for improving public education outcomes in Mobile County. We work with, but are independent of, the Mobile County Public School System.\nOur Impact\nMAEF, in partnership with the school district and business and civic leaders across Mobile County, is increasing the chances that students will \nGraduate Ready\n for college and careers.\nView Impact\nOur Priorities\nGraduate Ready\n is more than just an initiative of MAEF. It is strategic focus for every program and activity of the organization. It is a North Star that focuses our direction in every engagement, with every partner. \nLearn More\nJoin Us\nMobile Area Education Foundation is working to create a better community, one graduate at a time. We know we can’t do this alone. Every volunteer hour, and every dollar contribution, puts us one step closer to improving the quality of life for every resident of Mobile County. \nAct Now\nRegister\nWould you like to volunteer to help?\nStart Here\nUpcoming Events\nNew Student Orientation\nACCEL Informational Meetings\nACCEL is now ACCEPTING Applications!\nFeatured\nWhat’s Working\nU.S. education secretary visits Mobile\nGet Connected!\nA United Way Agency\nHome\n | \nAbout\n | \nOur Work\n | \nOur Impact\n | \nNews/ Media\n | \nSupport\n | \nContact\n© 2018 Copyright Mobile Area Education Foundation.  All rights reserved. | Site by \n Web and New Media\n"), ('http://www.maef.net/about/', 'False', '1', 'Dear Interested Citizen,\nThe Mobile Area Education Foundation has served as an advocate and activist for public schools in the Mobile community for the last twenty-two years. Our core beliefs and values remain an integral part of everything we do, especially now as we begin to write our next chapter. We are redefining our priorities, and continuing our broad-based citizen engagement approach that has proven itself time and time again with the success of the Yes We Can movement.\nMAEF, in partnership with the school district and business and civic leaders across Mobile County, is increasing the chances that students will Graduate Ready for college and careers.\nWe support our public school system in transforming schools across the county to increase high school graduation rates. We create partnerships with industry leaders to develop students’ workforce skills in Mobile County Career Academies. We help to improve the quality of life in Mobile County by increasing the volunteer base and the number of citizens actively involved in community efforts to improve educational outcomes for children. We create a civic culture of continual improvement across Mobile County.\nThrough these efforts we have seen the graduation rate increase over 20 percentage points in the past three years. We set the goal to graduate at least 80 percent of our public school students ready for college, career, and life by 2020, and that goal is not too far out of our reach.\nHowever, the work is just getting started. We will continue to offer programs like the Evening Education Options Program that targets students who are at risk of dropping out because they are over-aged and under credited. By focusing on growing our volunteer base, our Reading Buddy program will ensure students are reading on grade level by the end of third grade. To provide the intervention needed to help middle grade students improve their academic progress as they create a roadmap to graduating on time we use the RAMP UP to Graduation Initiative. Engaging Youth through Engineering will continue to redesign the way math and science are taught in our schools, while introducing STEM to students as early as fourth grade.\nThe Mobile Area Education Foundation is working to create a better community, one graduate at a time. We know we can’t do this alone. Every volunteer hour, and every dollar contribution, puts us one step closer to improving the quality of life for every resident of Mobile County. I’d like to invite you to become a part of the movement to improve the lives of all Mobile County citizens, children, and future generations of Mobile workers. We’re proud of accomplishments to date and look forward to opportunities ahead.\nCarolyn Akers\n MAEF Chief Executive Officer\nOur Purpose\nAt MAEF our goals are to innovate for student achievement, enhance strategic partnerships, and to build a community driven platform. We encourage innovative practices and programs that expedite student achievement by providing tools, providing development, and advancing promising innovations. We also partner with area business and industry to graduate students career ready by knowing the recipient, knowing the givers, and evaluating partners for satisfaction, impact, and growth. Lastly, we inspire action to build a high quality public education system by establishing easy metrics, using simple communication channels, and creating a Donor-Centric funding model.\nOur Vision\nWe exist because we believe the community’s potential can only be realized when all its citizens have access to high quality public education.\nOur Mission\nOur mission is to build community responsibility for improving public school outcomes in Mobile County. We work with, but are independent of, local Public School Systems.\nBoard of Directors\nName\nCompany\nTitle\nKaren Outlaw Atchison\nSelf Employed\nInterior Decorator\nRobert Baker\n President\nHancock Bank\nRegional President\nShayla Jones Beaco\nCity of Mobile\nSr. Director/Community Affairs\nRaymond Bell\nBell Law Firm, P.C.\nAttorney\nPreston Bolt\nLegal/Governance\nHand Arendall, LLC\nAttorney\nTalma Carstarphen\nVice President\nEnvision Healthcare Corporation\nChris Comstock\nOutokumpu\nGlenn Hodge\nMobile County Commission\nDeputy Administrator\nMike Marshall\nCommunity Volunteer\nJessie McDaniel\nAlabama Education Association\n\xa0Director\nMelissa Morrissette\nLLB&B, Inc.\nVP/Owner\nMonica Motley\nAlabama School of Mathematics & Science\nMartha Peek\nMobile County Public School System\nSuperintendent\nScott Posey\nAM/NS Calvert\nBill Sisson\nTreasurer\nMobile Area Chamber of Commerce\nPresident\nJohn Seibt\nPNC Bank\nCarol Statter\nSecretary\nInfirmary Health\nMark Spivey\n President\xa0\nBB&T Bank\nVice President\nJill Stork\nAlabama Power\nDon Stringfellow\nMobile County Public School\nPresident\nJim Walker\nGoodwyn, Mills, & Cawood\nDirector of Architecture\nLissa Watkins\nCommunity Volunteer\nContina Woods\nRegions Bank\nEmeritus\nAnn Bedsole\nMichael D. Fitzhugh\nBay Haas\nOur Staff\nCarolyn R. Akers\nChief Executive Officer\nEva Holloway\nOffice Manager\n\xa0Jabaria Jenkins\n\xa0Career Academies Coordinator\nDr. Jeremiah Newell\nChief Operating Officer\nMichelle Parson\nDirector, Finance and Administration\nJanice Rivers\nExecutive Assistant to the CEO\nChandra Scott\nDirector, Strategic\xa0Outcomes\nLee Williams\nInternship & Reading Buddy Coordinator\nSearch\nQuick Links\nLetter from the CEO\nOur Purpose\nBoard of Directors\nEmeritus\nOur Staff\nHome\n | \nAbout\n | \nOur Work\n | \nOur Impact\n | \nNews/ Media\n | \nSupport\n | \nContact\n© 2018 Copyright Mobile Area Education Foundation.  All rights reserved. | Site by \n Web and New Media\n.'), ('http://www.maef.net/college-career-indicator-dashboard/', 'False', '1', 'icator Dashboard\nOur goal is to create 75,000 credentials/degrees by 2030. This can only happen when the entire community is purposeful through data in establishing and enabling conditions for long-term attainment success.\nCCI Dashboard Sponsored in part by the J.L. Bedsole Foundation\nHome\n | \nAbout\n | \nOur Work\n | \nOur Impact\n | \nNews/ Media\n | \nSupport\n | \nContact\n© 2018 Copyright Mobile Area Education Foundation.  All rights reserved. | Site by \n Web and New Media\n'), ('http://www.maef.net/contact/', 'False', '1', 'e\n*\nQuestions or Comments\n*\nThis iframe contains the logic required to handle AJAX powered Gravity Forms.\nOur Location\nGet Directions\nFor:\nDriving\nWalking\nBicycling\nshow options\nhide options\n Avoid Tolls \n Avoid Highways\r                        \nFrom:\nTo:\nFetching directions......\nReset directions\nPrint directions\nEmail Us\nCarolyn Akers\nChief Executive Officer\nMelissa Dean\nDirector, K-8 Initiative\nJanelle Finley\nBranding & Development Coordinator\nEva Holloway\nOffice Manager\nJabaria Jenkins\nCareer Academies Coordinator\nJeremiah Newell\nChief Operations Officer\nMichelle Parson\nDirector, Finance and Administration\nJohn Parker\nFinance Coordinator\nJanice Rivers\nExecutive Assistant to the CEO\nChandra Scott\nDirector, Strategic Initiatives\nLee Williams\nInternship Coordinator\nHilder P. Wilson\nDirector, High School Initiatives\nEmployment Opportunities\nCurrently, there\xa0are no openings at MAEF. Thanks for your interest.\n\xa0It is the policy of the Mobile Area Education Foundation not to discriminate on the basis of race, color, sex, national origin, disability, or age in its employment practices. All persons hired are required to verify identity and employment eligibility and must undergo drug screening and a criminal background investigation.\n The Mobile Area Education Foundation is a non-profit, local education foundation dedicated to creating higher expectations for our public schools and our community.\nSearch\nQuick Links\nLocation\nContact Us\nEmail us\nEmployment Opportunities\nFind Us\nMobile Area Education Foundation\n605 Bel Air Boulevard\n\rSuite 400\n\rMobile, Alabama 36606\n\rOffice: (251) 476-0002\n\rFax: (251) 476-0046\nHome\n | \nAbout\n | \nOur Work\n | \nOur Impact\n | \nNews/ Media\n | \nSupport\n | \nContact\n© 2018 Copyright Mobile Area Education Foundation.  All rights reserved. | Site by \n Web and New Media\n'), ('http://www.maef.net/event/accel-informational-meetings/', 'False', '1', 'ational Meetings\nCome out and learn more about ACCEL Day and Evening Academy, an innovative NexGen charter high school. Representatives will also be on-site to assist you with registration and to answer your questions. Meetings will be held at ACCEL Day and Evening Academy (3100 Cottage Hill Road) on July 18 and July 25 from 6:00-8:00 PM.\nHome\n | \nAbout\n | \nOur Work\n | \nOur Impact\n | \nNews/ Media\n | \nSupport\n | \nContact\n© 2018 Copyright Mobile Area Education Foundation.  All rights reserved. | Site by \n Web and New Media\n')]

# rows and cols: (6947, 105)

['inquirycount', 'disciplinecount', 'inquiryprop', 'disciplineprop', 'traditionalprop', 'progressiveprop', 'numwords', 'numpages', 'reading1314', 'math1314', 'reading1415', 'math1415', 'reading1516', 'math1516', 'reading1617', 'math1617', 'pocschool', 'pocschoolcount', 'povertyschool', 'povertyschoolcount', 'pocsd', 'povertysd', 'childpovertysd', 'students', 'age', 'state', 'cmo', 'cmoname', 'titlei', 'urban', 'primary', 'middle', 'high', 'otherlevel', 'level', 'expulsions', 'suspensions', 'incidents', 'lawreferrals', 'lepcount', 'disabledcount', 'approgram', 'teachersccd', 'teacherscrdc', 'certcount', 'certrate', 'geodistrict', 'numpdfs', 'ncessch', 'ethnicisolated99', 'ethnicisolated95', 'ethnicisolated90', 'ethnicisolated80', 'ethnicisolated70', 'collegesd', 'popdensity', 'unemployment', 'foreignborn', 'closerate', 'publicdensity', 'charterdensity', 'readlevel13', 'mathlevel13', 'readall13', 'mathall13', 'readlevel14', 'mathlevel14', 'readall14', 'mathall14', 'readlevel15', 'mathlevel15', 'readall15', 'mathall15', 'readingscore', 'mathscore', 'readpct', 'mathpct', 'read5', 'math5', 'read10', 'math10', 'read20', 'math20', 'read50', 'math50', 'pctpdfs', 'teachers', 'lnage', 'lnstudents', 'lnteachers', 'NCESSCH_x', 'webtext', 'white_students', 'asian_students', 'black_students', 'native_students', 'hispanic_students', 'mixed_students', 'white_district', 'black_district', 'asian_district', 'native_district', 'mixed_district', 'hispanic_district', 'NCESSCH_y']

#### Merge in cleaned text (master string):

In [63]:
cleantextdf_full = pd.read_csv(textclean_full, low_memory=False) # Load text data from all pages
print(cleantextdf_full["text_full"][0][:1000])
cleantextdf_full = pd.merge(statscleaned_df, cleantextdf_full, how="left", left_on="ncessch", right_on="NCESSCH") # Merge text_full into statsdf
cleantextdf_full = pd.merge(racedf, cleantextdf_full, how="left", on="NCESSCH") # Merge text_full into statsdf

evening academy alabama's first tuition-free public charter school serves high school students grades  mobile baldwin counties accel provides challenging college-preparatory curriculum individualized instruction small class sizes engaging use technology safe supportive environment ensure students graduate college career ready enrollment open learn more welcome mobile area education foundation k degrees evidencesuccess graduate ready yes we can building blueprint equity excellence mobiles schools accelerate day evening academy education commission engaging youth through engineering harold dodge fund-a-star partners education reading buddy research alliance multiple pathways ramp superintendents student advisory council vital link  the mobile area education foundation nonprofit organization dedicated improving local public schools founded  mission build community responsibility improving public education outcomes mobile county we work independent mobile county public school system our im

In [64]:
cleantextdf_filtered = pd.read_csv(textclean_filtered, low_memory=False) # Load text data from filtered pages
print(cleantextdf_filtered["text_full"][0][:1000])
cleantextdf_filtered = pd.merge(statscleaned_df, cleantextdf_filtered, how="left", left_on="ncessch", right_on="NCESSCH") # Merge text_full into statsdf
cleantextdf_filtered = pd.merge(racedf, cleantextdf_filtered, how="left", on="NCESSCH") # Merge race vars into statsdf

reading buddy the reading buddy program designed help students improve literacy skills giving opportunity read aloud someone reading aloud one effective ways improve childs reading accuracy fluency students learn read fourth grade less likely graduate high school with help students much better chance graduating being reading buddy requires commitment one hour every week six months if interested becoming reading buddy please contact lee williams click browse current volunteer opportunities reading buddy media search graduate ready click learn maef ensure mobile county students graduate ready quick links home  about  our work  our impact  news media  support  contact copyright mobile area education foundation all rights reserved  site web new media tion foundation make secure online contribution mobile area education foundation thank considering online contribution mobile area education foundation with every dollar contributed toward financing enriching programs investment maef effective

In [65]:
keepcols = ['text_full', 'inquiryprop', 
            'readlevel13', 'mathlevel13', 'readall13', 'mathall13', 
            'readlevel14', 'mathlevel14', 'readall14', 'mathall14', 
            'readlevel15', 'mathlevel15', 'readall15', 'mathall15', 
            'pocschool', 'povertyschool', 
            'white_students', 'black_students', 'asian_students', 'hispanic_students', 'native_students', 'mixed_students', 
            'pctpdfs', 'numwords', 'numpages', 'numpdfs', 'NCESSCH', 
            'teachers', 'lnteachers', 
            'pocsd', 'povertysd', 'childpovertysd', 'collegesd', 'unemployment', 
            'students', 'lnstudents', 'age', 'lnage', 'state', 
            'urban', 'primary', 'middle', 'high', 'otherlevel', 'level', 
            'expulsions', 'suspensions', 'incidents', 'lawreferrals', 'lepcount', 
            'certcount', 'certrate',  
            'ethnicisolated99', 'ethnicisolated95', 'ethnicisolated90', 'ethnicisolated80', 'ethnicisolated70', 
            'closerate', 'publicdensity', 'charterdensity']

renameset = {'text_full':'master_string', 
    'inquiryprop':'inquiry_ideology',
    'readall13':'readingscore_2013', 
    'mathall13':'mathscore_2013',
    'readlevel13':'readingblur_2013', 
    'mathlevel13':'mathblur_2013', 
    'readall14':'readingscore_2014', 
    'mathall14':'mathscore_2014',
    'readlevel14':'readingblur_2014', 
    'mathlevel14':'mathblur_2014', 
    'readall15':'readingscore_2015', 
    'mathall15':'mathscore_2015',
    'readlevel15':'readingblur_2015', 
    'mathlevel15':'mathblur_2015', 
    'pocschool':'students_ofcolor', 
    'povertyschool':'poor_students', 
    'pocsd':'people_ofcolor_district', 
    'povertysd':'poverty_district', 
    'NCESSCH':'ncessch'}

# Drop vars not needed for analysis, rename vars for clarity
cleantextdf_full = cleantextdf_full[keepcols]
cleantextdf_filtered = cleantextdf_filtered[keepcols]
cleantextdf_full.rename(index=str, inplace=True, columns=renameset)
cleantextdf_filtered.rename(index=str, inplace=True, columns=renameset)

# Drop schools with no text data
cleantextdf_full = cleantextdf_full[cleantextdf_full["master_string"].notnull()]
cleantextdf_filtered = cleantextdf_filtered[cleantextdf_filtered["master_string"].notnull()]

print("# rows and cols, full text: " + str(cleantextdf_full.shape))
print("# rows and cols, filtered text: " + str(cleantextdf_filtered.shape))
print()
print(list(cleantextdf_full))

# rows and cols, full text: (5864, 60)
# rows and cols, filtered text: (5612, 60)

['master_string', 'inquiry_ideology', 'readingblur_2013', 'mathblur_2013', 'readingscore_2013', 'mathscore_2013', 'readingblur_2014', 'mathblur_2014', 'readingscore_2014', 'mathscore_2014', 'readingblur_2015', 'mathblur_2015', 'readingscore_2015', 'mathscore_2015', 'students_ofcolor', 'poor_students', 'white_students', 'black_students', 'asian_students', 'hispanic_students', 'native_students', 'mixed_students', 'pctpdfs', 'numwords', 'numpages', 'numpdfs', 'ncessch', 'teachers', 'lnteachers', 'people_ofcolor_district', 'poverty_district', 'childpovertysd', 'collegesd', 'unemployment', 'students', 'lnstudents', 'age', 'lnage', 'state', 'urban', 'primary', 'middle', 'high', 'otherlevel', 'level', 'expulsions', 'suspensions', 'incidents', 'lawreferrals', 'lepcount', 'certcount', 'certrate', 'ethnicisolated99', 'ethnicisolated95', 'ethnicisolated90', 'ethnicisolated80', 'ethnicisolated70', 'closerate', 'publicdensity', 'charterdensity']

### Data for geospatial team

In [66]:
# Retain and reorder variables for geospatial team
geodf = chopendf[['inquiryprop', 'disciplineprop', 'traditionalprop', 'progressiveprop', 
                  'reading1415', 'math1415', 'reading1516', 'math1516', 'reading1617', 'math1617', 
                  'pocschool', 'pocsd', 'povertyschool', 'povertysd', 'childpovertysd', 
                  'urban', 'primary', 'middle', 'high', 'otherlevel', 
                  'students', 'age', 'state', 'cmoname', 'level', 'localefine', 
                  'numwords', 'numpdfs', 'numpages', 
                  'expulsions', 'suspensions', 'incidents', 'lawreferrals', 
                  'lepcount', 'disabledcount', 'certrate', 'teacherratio', 'teacherscrdc', 
                  'giftedcount', 'approgram', 'apcourses', 
                  'titlei', 'geodistrict', 'districtname', 'schoolname', 'NCESSCH', 
                  'ethnicisolated99', 'ethnicisolated90', 'ethnicisolated80', 'ethnicisolated70',  
                  'collegesd', 'popdensity', 'unemployment', 'foreignborn', 
                  'closerate', 'publicdensity', 'charterdensity', 
                  'address', 'latitude', 'longitude']]

'''
# Clean up by dropping schools missing core variables
geodf = geodf[geodf["students"].notnull()]
geodf = geodf[geodf["povertyschool"].notnull()]
geodf = geodf[geodf["povertysd"].notnull()]
geodf = geodf[geodf["pocschool"].notnull()]
geodf = geodf[geodf["pocsd"].notnull()]
geodf = geodf[geodf["age"].notnull()]
'''

check_df(geodf, "NCESSCH") # Check missing vars again

# Merging all done, now we can drop unique identifier (NCESSCH) not needed for analysis
geodf.drop(columns=["NCESSCH"], axis=1, inplace=True)

# rows and cols:  (6947, 60)
# duplicates by NCESSCH: 0

Columns and # missing cases (if any):
inquiryprop: 647 missing
disciplineprop: 647 missing
traditionalprop: 647 missing
progressiveprop: 647 missing
reading1415: 941 missing
math1415: 937 missing
reading1516: 649 missing
math1516: 651 missing
reading1617: 699 missing
math1617: 692 missing
pocschool: 62 missing
pocsd: 31 missing
povertyschool: 573 missing
povertysd: 31 missing
childpovertysd: 136 missing
urban
primary: 19 missing
middle: 19 missing
high: 19 missing
otherlevel: 19 missing
students: 38 missing
age
state
cmoname: 4582 missing
level: 19 missing
localefine
numwords
numpdfs
numpages
expulsions: 1403 missing
suspensions: 1393 missing
incidents: 1362 missing
lawreferrals: 1403 missing
lepcount: 1360 missing
disabledcount: 2743 missing
certrate: 1765 missing
teacherratio: 1993 missing
teacherscrdc: 1361 missing
giftedcount: 5371 missing
approgram: 4685 missing
apcourses: 6164 missing
titlei: 908 missing
geodistrict
districtname
schoolname
NCESSCH
ethnicisolated99
ethnicisolated90
ethnicisolated80
ethnicisolated70
collegesd: 31 missing
popdensity: 49 missing
unemployment: 31 missing
foreignborn: 31 missing
closerate
publicdensity
charterdensity
address: 33 missing
latitude
longitude

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

## Save data to file

In [67]:
# Merging all done, now we can drop unique identifier (NCESSCH) not needed for analysis--IF we want to deidentify the data
#statsdf.drop(columns=["NCESSCH"], axis=1, inplace=True)
#stats_textdf.drop(columns=["NCESSCH"], axis=1, inplace=True)

In [68]:
# Save data for stats team (and sharing)
statsdf.to_csv(stats_storepath, index=False)
quickpickle_dump(stats_textdf, stats_text_storepath)

# Save data for geospatial team
geodf.to_csv(geo_storepath, index=False)
geodf.to_csv(geoteam_path, index=False)

# Save data for text analysis team
cleantextdf_full.to_csv(textclean_full_storepath, index=False)
cleantextdf_filtered.to_csv(textclean_filtered_storepath, index=False)

# Save data for SWARM team
cleantextdf_full.to_csv(swarm_full_storepath, index=False)
cleantextdf_filtered.to_csv(swarm_filtered_storepath, index=False)

In [70]:
cleantextdf_full

,master_string,inquiry_ideology,readingblur_2013,mathblur_2013,readingscore_2013,mathscore_2013,readingblur_2014,mathblur_2014,readingscore_2014,mathscore_2014,...,certcount,certrate,ethnicisolated99,ethnicisolated95,ethnicisolated90,ethnicisolated80,ethnicisolated70,closerate,publicdensity,charterdensity
1,select school select school ketchikan high sch...,0.003762,5.0,5.0,87.0,82.0,5.0,5.0,42.0,42.0,...,12.000000,1.000000,1,1,1,1,1,0.111111,10,2
2,l enrollment homeschool title ix assuring gend...,0.009768,5.0,5.0,77.0,57.0,5.0,5.0,52.0,37.0,...,11.000000,1.000000,1,1,1,1,1,0.111111,10,2
3,select school select school abbott loop elemen...,0.000000,5.0,5.0,97.0,97.0,5.0,5.0,72.0,67.0,...,20.799999,1.000000,1,1,1,1,1,0.000000,101,9
5,wednesday rd supply fees overdue please ask p...,0.009728,5.0,5.0,82.0,62.0,5.0,5.0,42.0,17.0,...,16.190001,1.000000,1,1,1,1,1,0.000000,101,9
7,es login frontier's purpose helping parents he...,0.007451,5.0,5.0,82.0,52.0,5.0,5.0,42.0,22.0,...,3.490000,1.000000,1,1,1,1,1,0.000000,101,9
8,select school select school abbott loop elemen...,0.000000,5.0,5.0,92.0,62.0,5.0,5.0,52.0,22.0,...,12.000000,1.000000,1,1,1,1,1,0.000000,101,9
10,select school select school abbott loop elemen...,0.000000,5.0,5.0,77.0,67.0,5.0,5.0,22.0,32.0,...,21.000000,1.000000,1,1,1,1,1,0.000000,101,9
11,select school select school abbott loop elemen...,0.001610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.780000,1.000000,1,1,1,1,1,0.000000,101,9
12,juneau community charter school jccs a learnin...,0.015738,5.0,5.0,82.0,72.0,5.0,5.0,57.0,57.0,...,6.700000,1.000000,1,1,1,1,1,0.000000,15,1
14,fireweed academy soundview ave homer skip cont...,0.001215,10.0,10.0,95.0,85.0,10.0,10.0,65.0,55.0,...,8.320000,1.000000,1,1,1,1,1,0.000000,43,4
15,park ave soldotna skip content home school new...,0.000844,5.0,5.0,92.0,87.0,5.0,5.0,47.0,44.0,...,10.820000,1.000000,1,1,1,1,1,0.000000,43,4
16,kaleidoscope school arts science n forest driv...,0.002026,5.0,5.0,92.0,92.0,5.0,5.0,67.0,44.0,...,17.350000,1.000000,1,1,1,1,1,0.000000,43,4
17,select school select school academy charter am...,0.000861,5.0,5.0,97.0,92.0,5.0,5.0,62.0,52.0,...,15.570000,1.000000,1,1,1,1,1,0.000000,45,6
18,mrs macdonald ms moses mrs darnell about ou...,0.000000,5.0,5.0,92.0,87.0,5.0,5.0,57.0,62.0,...,8.620000,1.000000,1,1,1,1,1,0.000000,45,6
19,select school select school academy charter am...,0.005198,5.0,5.0,97.0,82.0,5.0,5.0,42.0,44.0,...,10.730000,1.000000,1,1,1,1,1,0.000000,45,6
20,k course course mit app inventor puzzles raz-k...,0.004067,5.0,5.0,87.0,57.0,5.0,5.0,47.0,27.0,...,5.970000,1.000000,1,1,1,1,1,0.000000,45,6
21,select school select school academy charter am...,0.001439,5.0,5.0,87.0,77.0,5.0,5.0,57.0,44.0,...,13.120000,1.000000,1,1,1,1,1,0.000000,45,6
22,tent enroll lottery enrollment academic year ...,0.005641,5.0,5.0,87.0,72.0,1.0,1.0,36.0,34.0,...,25.350000,1.000000,1,1,1,1,1,0.000000,45,6
24,select school select school anderson elementar...,0.003650,5.0,5.0,97.0,87.0,5.0,5.0,62.0,42.0,...,7.500000,1.000000,1,1,1,1,1,0.000000,37,4
25,select school select school anderson elementar...,0.004057,5.0,5.0,77.0,42.0,5.0,5.0,17.0,12.0,...,14.000000,1.000000,1,1,1,1,1,0.000000,37,4
27,select school select school anderson elementar...,0.006734,5.0,5.0,92.0,87.0,5.0,5.0,67.0,67.0,...,7.500000,1.000000,1,1,1,1,1,0.000000,37,4
29,center academic success prek higher standards ...,0.010542,20.0,20.0,70.0,50.0,20.0,20.0,30.0,30.0,...,9.000000,1.000000,1,1,1,1,1,0.000000,13,5
30,center academic success prek higher standards ...,0.007485,20.0,20.0,70.0,70.0,50.0,20.0,25.0,10.0,...,6.000000,1.000000,1,1,1,1,1,0.000000,13,5
31,center academic success prek higher standards ...,0.007485,5.0,5.0,67.0,72.0,5.0,5.0,22.0,37.0,...,7.000000,1.000000,1,1,1,1,1,0.000000,13,5
32,center academic success prek higher standards ...,0.007485,1.0,1.0,62.0,52.0,1.0,1.0,14.0,17.0,...,6.000000,1.000000,1,1,1,1,1,0.000000,13,5
33,center academic success prek higher standards ...,0.010542,5.0,5.0,87.0,62.0,1.0,1.0,45.0,24.0,...,18.000000,1.000000,1,1,1,1,1,0.000000,15,4
34,handbooks forms title i school hours fees pros...,0.005597,5.0,5.0,77.0,44.0,5.0,5.0,42.0,27.0,...,13.000000,0.812500,1,1,1,1,1,0.000000,15,4
35,twitter linkedin fala tuition-free public ch...,0.004795,5.0,5.0,92.0,72.0,5.0,5.0,57.0,42.0,...,5.000000,0.224719,1,1,1,1,1,0.000000,15,4
36,faculty employmentmontessori certified teacher...,0.010548,5.0,5.0,97.0,82.0,5.0,5.0,62.0,37.0,...,4.000000,0.222222,1,1,1,1,1,0.000000,15,4
37,how do i enroll my child fax e main st saff...,0.007410,5.0,5.0,87.0,67.0,5.0,5.0,37.0,27.0,...,3.000000,0.500000,1,1,1,1,1,0.000000,18,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6812,select school select school bannach jefferson ...,0.001493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.400000,1.000000,1,1,1,1,1,0.000000,12,5
6813,academy ave tomah phone our vision preschool...,0.011024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,1.000000,1,1,1,1,1,0.000000,12,5
6814,r if want order last-ever printed yearbooks tl...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.200000,1.000000,0,0,0,0,0,0.000000,12,5
6815,rss feed k yearbook distribution last week sch...,0.003773,1.0,1.0,52.0,58.0,1.0,1.0,60.0,54.0,...,23.680000,0.972485,1,1,1,1,1,0.000000,12,5
6816,p we dedicated professional teaching support s...,0.022073,5.0,5.0,47.0,57.0,10.0,10.0,55.0,45.0,...,7.840000,1.000000,1,1,1,1,1,0.200000,11,2
6817,second bell tue-fri first bell second bell ...,0.010742,20.0,20.0,50.0,70.0,10.0,10.0,65.0,75.0,...,6.650000,1.000000,1,1,1,1,1,0.000000,18,2
6818,n,0.000000,20.0,20.0,30.0,10.0,NaN,NaN,NaN,NaN,...,3.830000,1.000000,1,1,1,1,1,0.000000,18,2
6819,blackhawk dr viroqua advertisements blog wor...,0.004883,50.0,50.0,75.0,75.0,NaN,NaN,NaN,NaN,...,1.300000,1.000000,1,1,1,1,1,0.000000,12,1
6820,better futures high school made new google sit...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,0,0,0,0,0,0.000000,3,1
6822,team apply apply are interested joining endeav...,0.015824,NaN,NaN,NaN,NaN,50.0,50.0,25.0,25.0,...,3.000000,1.000000,1,1,1,1,1,0.000000,14,4
6823,select school select school banting elementary...,0.007246,1.0,1.0,46.0,68.0,1.0,1.0,64.0,62.0,...,45.439999,1.000000,1,1,1,1,1,0.000000,14,4
6824,select school select school banting elementary...,0.007194,NaN,NaN,NaN,NaN,50.0,20.0,25.0,10.0,...,10.000000,1.000000,1,1,1,1,1,0.000000,14,4
6825,screen name click forgot screen name password ...,0.000000,10.0,10.0,75.0,85.0,10.0,10.0,75.0,75.0,...,3.200000,1.000000,1,1,1,1,1,0.000000,6,3
6826,staff mission history blog information session...,0.012088,NaN,NaN,NaN,NaN,50.0,50.0,75.0,25.0,...,2.360000,1.000000,1,1,1,1,1,0.000000,6,3
6827,screen name click forgot screen name password ...,0.000000,10.0,10.0,55.0,65.0,10.0,10.0,85.0,65.0,...,2.020000,1.000000,1,1,1,1,1,0.000000,6,3
6830,here students last day half day click here f...,0.007299,10.0,10.0,45.0,45.0,10.0,10.0,65.0,35.0,...,5.800000,1.000000,1,1,1,1,1,0.047619,22,3
6831,students last day half day click here fill ...,0.008569,10.0,10.0,35.0,15.0,10.0,10.0,35.0,5.0,...,7.000000,1.000000,1,1,1,1,1,0.047619,22,3
6832,nce council agendas minutes school supplies co...,0.009053,20.0,20.0,50.0,70.0,20.0,20.0,70.0,30.0,...,6.650000,1.000000,1,1,1,1,1,0.047619,22,3
6833,in partnership milwaukee county parks departme...,0.028271,10.0,10.0,85.0,95.0,5.0,5.0,92.0,87.0,...,6.730000,1.000000,1,1,1,1,1,0.000000,17,2
6834,smcclure t about us at wauwatosa virtual acade...,0.009901,50.0,50.0,25.0,25.0,10.0,10.0,45.0,25.0,...,1.090000,1.000000,1,1,1,1,1,0.000000,17,2
6835,each week recap happenings shared journeys pro...,0.004326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1,1,1,1,1,0.000000,19,1
6836,copyright all rights reserved new web develop...,0.003965,10.0,10.0,65.0,45.0,10.0,10.0,35.0,35.0,...,3.000000,1.000000,1,1,1,1,1,0.000000,14,1
6837,phone fax contact directions search like...,0.012890,50.0,50.0,25.0,25.0,50.0,50.0,25.0,25.0,...,2.000000,1.000000,1,1,1,1,1,0.000000,6,1
6838,key fundraiser buy key support wf's performin...,0.002625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1,1,1,1,1,0.000000,5,1
6839,jedi virtual online pk school i cant say enou...,0.009921,50.0,50.0,75.0,75.0,NaN,NaN,NaN,NaN,...,5.000000,1.000000,0,0,0,0,0,0.000000,7,1
6840,ts new summer fitness offering grades a summe...,0.012378,5.0,5.0,27.0,37.0,5.0,5.0,42.0,32.0,...,35.450001,0.972565,1,1,1,1,1,0.000000,13,1
6841,welcome snowy range academy academic excellenc...,0.005950,5.0,5.0,82.0,82.0,5.0,5.0,77.0,77.0,...,18.950001,1.000000,1,1,1,1,1,0.000000,19,2
6842,spanish keyboarding character class parent re...,0.002660,20.0,20.0,70.0,10.0,20.0,20.0,50.0,30.0,...,7.000000,1.000000,1,1,1,1,1,0.000000,19,2
6843,fety hidden jewel wyoming native american educ...,0.000629,50.0,50.0,25.0,25.0,50.0,50.0,25.0,25.0,...,6.000000,1.000000,1,1,1,1,1,0.000000,4,1
6844,pass find answers frequently asked questions p...,0.004666,10.0,10.0,75.0,95.0,10.0,10.0,85.0,85.0,...,8.050000,1.000000,1,1,1,1,1,0.000000,37,1