In [5]:
import pandas as pd
import numpy as np
import pickle

In [ ]:
# Load public schools data
pubframe = pd.read_pickle("../../nowdata/pubschools_2015.pkl")

In [10]:
# Load ACS file (school district data)
acs = pd.read_csv("../../data_management/data/ACS_2016_sd-merged_FULL.csv", header = [0, 1])

# Inspect the file:
print(acs.shape)
print(list(acs))
acs[("Area (Land)", "Geo_AREALAND")]

(13406, 126)
[('FIPS', 'Geo_FIPS'), ('Name of Area', 'Geo_NAME'), ('Qualifying Name', 'Geo_QName'), ('State/U.S.-Abbreviation (USPS)', 'Geo_STUSAB'), ('Summary Level', 'Geo_SUMLEV'), ('File Identification', 'Geo_FILEID'), ('Logical Record Number', 'Geo_LOGRECNO'), ('State (FIPS)', 'Geo_STATE'), ('School District (Elementary)', 'Geo_SDELM'), ('School District (Secondary)', 'Geo_SDSEC'), ('School District (Unified)', 'Geo_SDUNI'), ('Geographic Identifier', 'Geo_GEOID'), ('Area (Land)', 'Geo_AREALAND'), ('Area (Water)', 'Geo_AREAWATR'), ('Total Population', 'SE_T002_001'), ('Population Density (Per Sq. Mile)', 'SE_T002_002'), ('Area (Land)', 'SE_T002_003'), ('% Total Population: Under 18 Years', 'PCT_SE_T009_002'), ('% Total Population: 18 to 34 Years', 'PCT_SE_T009_003'), ('% Total Population: 35 to 64 Years', 'PCT_SE_T009_004'), ('% Total Population: 65 and Over', 'PCT_SE_T009_005'), ('% Total Population: White Alone', 'PCT_SE_T013_002'), ('% Total Population: Black or African American Alone', 'PCT_SE_T013_003'), ('% Total Population: American Indian and Alaska Native Alone', 'PCT_SE_T013_004'), ('% Total Population: Asian Alone', 'PCT_SE_T013_005'), ('% Total Population: Native Hawaiian and Other Pacific Islander Alone', 'PCT_SE_T013_006'), ('% Total Population: Some Other Race Alone', 'PCT_SE_T013_007'), ('% Total Population: Two or More Races', 'PCT_SE_T013_008'), ('Occupied Housing Units', 'SE_T165_001'), ('% Occupied Housing Units: Family Households', 'PCT_SE_T165_002'), ('% Occupied Housing Units: Family Households: Married-Couple Family', 'PCT_SE_T165_003'), ('% Occupied Housing Units: Nonfamily Households', 'PCT_SE_T165_016'), ('% Occupied Housing Units: Nonfamily Households: Householder Living Alone', 'PCT_SE_T165_017'), ('% Occupied Housing Units: With Related Children of the Householder Under 18', 'PCT_SE_T167_002'), ('% Occupied Housing Units: No Related Children of the Householder Under 18', 'PCT_SE_T167_008'), ('Population 15 Years and Over:', 'SE_T022_001'), ('% Population 15 Years and Over: Never Married', 'PCT_SE_T022_002'), ('% Population 15 Years and Over: Now Married (Not Including Separated)', 'PCT_SE_T022_003'), ('% Population 15 Years and Over: Separated', 'PCT_SE_T022_004'), ('% Population 15 Years and Over: Widowed', 'PCT_SE_T022_005'), ('% Population 15 Years and Over: Divorced', 'PCT_SE_T022_006'), ('Population 25 Years and Over:', 'SE_T025_001'), ('% Population 25 Years and Over: Less than High School', 'PCT_SE_T025_002'), ('% Population 25 Years and Over: High School Graduate (Includes Equivalency)', 'PCT_SE_T025_003'), ('% Population 25 Years and Over: Some College', 'PCT_SE_T025_004'), ("% Population 25 Years and Over: Bachelor's Degree", 'PCT_SE_T025_005'), ("% Population 25 Years and Over: Master's Degree", 'PCT_SE_T025_006'), ('% Population 25 Years and Over: Professional School Degree', 'PCT_SE_T025_007'), ('% Population 25 Years and Over: Doctorate Degree', 'PCT_SE_T025_008'), ('Population 3 Years and Over:', 'SE_T028_001'), ('% Population 3 Years and Over: Enrolled in School', 'PCT_SE_T028_002'), ('% Population 3 Years and Over: Not Enrolled in School', 'PCT_SE_T028_003'), ('% Population 3 Years and Over Enrolled in School: Public School', 'PCT_SE_T029_002'), ('% Population 3 Years and Over Enrolled in School: Public School: Pre-School', 'PCT_SE_T029_003'), ('% Population 3 Years and Over Enrolled in School: Public School: K-8', 'PCT_SE_T029_004'), ('% Population 3 Years and Over Enrolled in School: Public School: 9-12', 'PCT_SE_T029_005'), ('% Population 3 Years and Over Enrolled in School: Public School: College', 'PCT_SE_T029_006'), ('% Population 3 Years and Over Enrolled in School: Private School', 'PCT_SE_T029_007'), ('% Population 3 Years and Over Enrolled in School: Private School: Pre-School', 'PCT_SE_T029_008'), ('% Population 3 Years and Over Enrolled in School: Private School: K-8', 'PCT_SE_T029_009'), ('% Population 3 Years and Over Enrolled in School: Private School: 9-12', 'PCT_SE_T029_010'), ('% Population 3 Years and Over Enrolled in School: Private School: College', 'PCT_SE_T029_011'), ('Civilian Population 16 to 19 Years:', 'SE_T030_001'), ('% Civilian Population 16 to 19 Years: Not High School Graduate, Not Enrolled (Dropped Out)', 'PCT_SE_T030_002'), ('% Civilian Population 16 to 19 Years: High School Graduate, or Enrolled (in School)', 'PCT_SE_T030_003'), ('% Civilian Population in Labor Force 16 Years and Over: Employed', 'PCT_SE_T037_002'), ('% Civilian Population in Labor Force 16 Years and Over: Unemployed', 'PCT_SE_T037_003'), ('% White Alone, Not Hispanic or Latino 16 Years Old  in&nbsp; Civilian Labor Force: Employed', 'PCT_SE_T048_002'), ('% White Alone, Not Hispanic or Latino 16 Years Old  in&nbsp; Civilian Labor Force: Unemployed', 'PCT_SE_T048_003'), ('% Employed Civilian Population 16 Years and Over: Agriculture, Forestry, Fishing and Hunting, and Mining', 'PCT_SE_T049_002'), ('% Employed Civilian Population 16 Years and Over: Construction', 'PCT_SE_T049_003'), ('% Employed Civilian Population 16 Years and Over: Manufacturing', 'PCT_SE_T049_004'), ('% Employed Civilian Population 16 Years and Over: Wholesale Trade', 'PCT_SE_T049_005'), ('% Employed Civilian Population 16 Years and Over: Retail Trade', 'PCT_SE_T049_006'), ('% Employed Civilian Population 16 Years and Over: Transportation and Warehousing, and Utilities', 'PCT_SE_T049_007'), ('% Employed Civilian Population 16 Years and Over: Information', 'PCT_SE_T049_008'), ('% Employed Civilian Population 16 Years and Over: Finance and Insurance, and Real Estate and Rental  and Leasing', 'PCT_SE_T049_009'), ('% Employed Civilian Population 16 Years and Over: Professional, Scientific, and Management, and  Administrative and Waste Management Services', 'PCT_SE_T049_010'), ('% Employed Civilian Population 16 Years and Over: Educational Services, and Health Care and Social  Assistance', 'PCT_SE_T049_011'), ('% Employed Civilian Population 16 Years and Over: Arts, Entertainment, and Recreation, and  Accommodation and Food Services', 'PCT_SE_T049_012'), ('% Employed Civilian Population 16 Years and Over: Other Services, Except Public Administration', 'PCT_SE_T049_013'), ('% Employed Civilian Population 16 Years and Over: Public Administration', 'PCT_SE_T049_014'), ('% Employed Civilian Population 16 Years and Over: Unpaid Family Workers', 'PCT_SE_T053_006'), ('Median Household Income (In 2016 Inflation Adjusted Dollars)', 'SE_T057_001'), ('Median Household Income (In 2016 Inflation Adjusted Dollars): White Alone Householder', 'SE_T058_002'), ('Median Household Income (In 2016 Inflation Adjusted Dollars): Black or African American Alone Householder', 'SE_T058_003'), ('Median Household Income (In 2016 Inflation Adjusted Dollars): American Indian and Alaska Native Alone  Householder', 'SE_T058_004'), ('Median Household Income (In 2016 Inflation Adjusted Dollars): Asian Alone', 'SE_T058_005'), ('Median Household Income (In 2016 Inflation Adjusted Dollars): Native Hawaiian and Other Pacific Islander Alone  Householder', 'SE_T058_006'), ('Median Household Income (In 2016 Inflation Adjusted Dollars): Some Other Race Alone Householder', 'SE_T058_007'), ('Median Household Income (In 2016 Inflation Adjusted Dollars): Two or More Races Householder', 'SE_T058_008'), ('Median Household Income (In 2016 Inflation Adjusted Dollars): Hispanic or Latino Householder', 'SE_T058_009'), ('Median Household Income (In 2016 Inflation Adjusted Dollars): White Alone Householder, Not Hispanic or Latino', 'SE_T058_010'), ('Per Capita Income (In 2016 Inflation Adjusted Dollars)', 'SE_T083_001'), ('Gini Index', 'SE_T157_001'), ('Median Year Structure Built', 'SE_T098_001'), ('Median Value', 'SE_T101_001'), ('% Renter-Occupied Housing Units: Less than 10 Percent', 'PCT_SE_T103_002'), ('% Renter-Occupied Housing Units: 10 to 29 Percent', 'PCT_SE_T103_003'), ('% Renter-Occupied Housing Units: 30 to 49 Percent', 'PCT_SE_T103_004'), ('% Renter-Occupied Housing Units: 50 Percent or More', 'PCT_SE_T103_005'), ('% Renter-Occupied Housing Units: Not Computed', 'PCT_SE_T103_006'), ('% Families: Income in Below Poverty Level', 'PCT_SE_T113_002'), ('% Families: Income in at or Above Poverty Level', 'PCT_SE_T113_011'), ('Population Under 18 Years of Age for Whom Poverty Status Is Determined:', 'SE_T114_001'), ('% Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty', 'PCT_SE_T114_002'), ('% Population Under 18 Years of Age for Whom Poverty Status Is Determined: at or Above Poverty Level', 'PCT_SE_T114_003'), ('% Total: Same House 1 Year Ago', 'PCT_SE_T130_002'), ('% Total: Moved Within Same County', 'PCT_SE_T130_003'), ('% Total: Moved From Different County Within Same State', 'PCT_SE_T130_004'), ('% Total: Moved From Different State', 'PCT_SE_T130_005'), ('% Total: Moved From Abroad', 'PCT_SE_T130_006'), ('% Total Population: Native Born', 'PCT_SE_T133_002'), ('% Total Population: Foreign Born', 'PCT_SE_T133_003'), ('% Total Population: Foreign Born: Naturalized Citizen', 'PCT_SE_T133_004'), ('% Total Population: Foreign Born: Not a Citizen', 'PCT_SE_T133_005'), ('% Foreign-Born Population: Europe', 'PCT_SE_T139_002'), ('% Foreign-Born Population: Asia', 'PCT_SE_T139_034'), ('% Foreign-Born Population: Africa', 'PCT_SE_T139_067'), ('% Foreign-Born Population: Oceania', 'PCT_SE_T139_085'), ('% Foreign-Born Population: Americas', 'PCT_SE_T139_090'), ('Total:', 'SE_T145_001'), ('% Total: No Health Insurance Coverage', 'PCT_SE_T145_002'), ('% Total: with Health Insurance Coverage', 'PCT_SE_T145_003'), ('% Total: with Health Insurance Coverage: Public Health Coverage', 'PCT_SE_T145_004'), ('% Total: with Health Insurance Coverage: Private Health Insurance', 'PCT_SE_T145_005')]

0        2.330674e+08
1        8.476777e+06
2        6.878066e+07
3        1.267794e+09
4        1.213654e+08
5        7.664804e+07
6        5.921584e+07
7        3.768346e+07
8        8.341060e+07
9        2.466570e+08
10       5.090945e+07
11       1.181957e+08
12       3.362286e+07
13       1.024006e+08
14       1.807928e+07
15       6.002323e+07
16                NaN
17                NaN
18                NaN
19                NaN
20       1.503939e+08
21       1.539582e+09
22       4.117522e+09
23       2.138002e+09
24       1.032048e+08
25       1.612481e+09
26       3.783109e+08
27       1.630681e+09
28       2.901512e+07
29       1.613057e+09
             ...
13376    8.454036e+07
13377    8.793026e+06
13378    3.172938e+07
13379    6.529514e+07
13380    3.620417e+07
13381    7.561695e+06
13382    1.634068e+08
13383    1.982019e+07
13384    1.450025e+08
13385    5.213778e+07
13386    1.273209e+08
13387    1.058205e+11
13388    1.684004e+08
13389    1.817744e+08
13390    8.152621e+07
13391    8.781716e+07
13392    6.756359e+11
13393    1.005522e+08
13394    1.148739e+10
13395    4.168230e+07
13396    4.635268e+08
13397    1.609159e+08
13398    2.296503e+08
13399    1.597786e+09
13400    3.598741e+08
13401    2.160447e+08
13402    1.901531e+08
13403    2.169052e+08
13404    1.130776e+08
13405    1.366784e+11
Name: (Area (Land), Geo_AREALAND), Length: 13406, dtype: float64

In [11]:
acs[("Area (Land)")]

       Geo_AREALAND    SE_T002_003
0      2.330674e+08      89.987827
1      8.476777e+06       3.272902
2      6.878066e+07      26.556364
3      1.267794e+09     489.498138
4      1.213654e+08      46.859429
5      7.664804e+07      29.593975
6      5.921584e+07      22.863365
7      3.768346e+07      14.549664
8      8.341060e+07      32.205014
9      2.466570e+08      95.234807
10     5.090945e+07      19.656252
11     1.181957e+08      45.635606
12     3.362286e+07      12.981861
13     1.024006e+08      39.537110
14     1.807928e+07       6.980451
15     6.002323e+07      23.175100
16              NaN            NaN
17              NaN            NaN
18              NaN            NaN
19              NaN            NaN
20     1.503939e+08      58.067407
21     1.539582e+09     594.436089
22     4.117522e+09    1589.784070
23     2.138002e+09     825.487142
24     1.032048e+08      39.847588
25     1.612481e+09     622.582332
26     3.783109e+08     146.066666
27     1.630681e+09     629.609564
28     2.901512e+07      11.202801
29     1.613057e+09     622.804776
...             ...            ...
13376  8.454036e+07      32.641217
13377  8.793026e+06       3.395006
13378  3.172938e+07      12.250783
13379  6.529514e+07      25.210594
13380  3.620417e+07      13.978508
13381  7.561695e+06       2.919587
13382  1.634068e+08      63.091709
13383  1.982019e+07       7.652618
13384  1.450025e+08      55.985767
13385  5.213778e+07      20.130512
13386  1.273209e+08      49.158878
13387  1.058205e+11   40857.542592
13388  1.684004e+08      65.019761
13389  1.817744e+08      70.183510
13390  8.152621e+07      31.477446
13391  8.781716e+07      33.906396
13392  6.756359e+11  260864.473256
13393  1.005522e+08      38.823439
13394  1.148739e+10    4435.305356
13395  4.168230e+07      16.093625
13396  4.635268e+08     178.968699
13397  1.609159e+08      62.129993
13398  2.296503e+08      88.668470
13399  1.597786e+09     616.908792
13400  3.598741e+08     138.948165
13401  2.160447e+08      83.415324
13402  1.901531e+08      73.418521
13403  2.169052e+08      83.747557
13404  1.130776e+08      43.659504
13405  1.366784e+11   52771.846492

[13406 rows x 2 columns]

In [ ]:
#pubframe.iloc[1:12,]
list(pubframe)

In [ ]:
pwd

Calculate the count by School District, as an example. We can apply the same method to calculate school district density

In [49]:
new_frame = pubframe.groupby(['LEAID'])['NCESSCH'].count().reset_index(name='counts')

Now, we group by LEAID(School District) and add two columns (counts and density) to display its appearance frequency.

In [37]:
pubframe.shape

(136825, 663)

In [51]:
new_frame['Density'] = group_frame['counts']/136825

In [52]:
new_frame

           LEAID  counts   Density
0       100002.0       6  0.000044
1       100005.0       6  0.000044
2       100006.0      16  0.000117
3       100007.0      17  0.000124
4       100008.0      11  0.000080
5       100009.0       4  0.000029
6       100011.0       3  0.000022
7       100012.0       5  0.000037
8       100013.0       6  0.000044
9       100015.0       4  0.000029
10      100018.0       1  0.000007
11      100019.0       1  0.000007
12      100020.0       1  0.000007
13      100030.0       5  0.000037
14      100033.0       2  0.000015
15      100038.0       1  0.000007
16      100040.0       1  0.000007
17      100041.0       1  0.000007
18      100044.0       1  0.000007
19      100060.0       3  0.000022
20      100090.0       8  0.000058
21      100100.0       4  0.000029
22      100120.0       7  0.000051
23      100175.0       1  0.000007
24      100176.0       4  0.000029
25      100178.0       1  0.000007
26      100179.0       1  0.000007
27      100180.0       3  0.000022
28      100181.0       1  0.000007
29      100183.0       1  0.000007
...          ...     ...       ...
17442  5900188.0       1  0.000007
17443  5900189.0       1  0.000007
17444  5900190.0       1  0.000007
17445  5900191.0       1  0.000007
17446  5900192.0       1  0.000007
17447  5900193.0       1  0.000007
17448  5900194.0       1  0.000007
17449  5900195.0       1  0.000007
17450  5900196.0       1  0.000007
17451  5900197.0       1  0.000007
17452  5900200.0       1  0.000007
17453  6000030.0      28  0.000205
17454  6300007.0      15  0.000110
17455  6300010.0      12  0.000088
17456  6300011.0      13  0.000095
17457  6300016.0      10  0.000073
17458  6300017.0       7  0.000051
17459  6300018.0      10  0.000073
17460  6300019.0       4  0.000029
17461  6300020.0      12  0.000088
17462  6300021.0       9  0.000066
17463  6300022.0      10  0.000073
17464  6300023.0      15  0.000110
17465  6300024.0      20  0.000146
17466  6300025.0      17  0.000124
17467  6300026.0      19  0.000139
17468  6600002.0      41  0.000300
17469  7200030.0    1322  0.009662
17470  7800002.0      14  0.000102
17471  7800030.0      14  0.000102

[17472 rows x 3 columns]